@use "sass:map";
@use "../setup/settings";

$colors-theme-dark: (
    default: (
        text:               hsl(210 14% 83%),
        text-promoted:      hsl(0 0% 100%),
        text-promoted-a50:  hsl(0 0% 100% / 0.5),
        text-demoted:       hsl(210 14% 70%),
        text-form:          hsl(0 0% 100%),
        text-placeholder:   hsl(210 6% 48%),
        a:                  hsl(210 100% 81%),
        a-interact:         hsl(210 100% 87%),
        a-interact-a50:     hsl(210 100% 87% / 0.5),
        focus:              hsl(312 100% 50%),
        selecting:          hsl(210 50% 18%),
        selected:           hsl(210 50% 21%),
        bkgd:               hsl(210 11% var(--l, 20%)),
        bkgd-box-subtle:    hsl(210 11% var(--l, 16%)),
        bkgd-box-strong:    hsl(210 11% var(--l, 10%)),
        bkgd-form:          hsl(210 11% 14%),
        bkgd-form-disabled: hsl(210 11% 14%),
        grad-from:          hsl(210 7% var(--l, 32%)),
        grad-to:            hsl(210 9% var(--l, 26%)),
        hilite:             hsl(48 100% var(--l, 63%)),
        strong-hilite-box:  hsl(48 42% var(--l, 47%)),
        hilite-box:         hsl(48 20% var(--l, 30%)),
        brdr:               hsl(210 7% 30%),
        brdr-lite:          hsl(210 7% 40%),
        brdr-x-lite:        hsl(210 7% 50%),
        brdr-dark:          hsl(210 7% 16%),
        brdr-x-dark:        hsl(210 7% 4%),
    ),
    neutral-1: (),
    neutral-2: (),
    neutral-3: (),
    neutral-4: (),
    neutral-5: (),
    neutral-6: (),
    neutral-7: (),
    neutral-8: (),
    bold-1: (),
    bold-2: (),
    bold-3: (),
    bold-4: (),
    bold-5: (),
    bold-6: (),
    bold-7: (),
    bold-8: (),
    sleek-1: (),
    sleek-2: (),
    sleek-3: (),
    sleek-4: (),
    sleek-5: (),
    sleek-6: (),
    sleek-7: (),
    sleek-8: (),
) !default;

$colors-themable-dark: map.get($colors-theme-dark, #{settings.$color-scheme}) !default;
