@use "sass:map";
@use "../setup/settings";

$colors-theme-light: (
    default: (
        text:               hsl(0 0% 20%),
        text-promoted:      hsl(0 0% 0%),
        text-promoted-a50:  hsl(0 0% 0% / 0.5),
        text-demoted:       hsl(0 0% 35%),
        text-form:          hsl(0 0% 0%),
        text-placeholder:   hsl(0 0% 60%),
        a:                  hsl(216 100% 37%),
        a-interact:         hsl(216 100% 50%),
        a-interact-a50:     hsl(216 100% 50% / 0.5),
        focus:              hsl(216 100% 50%),
        selecting:          hsl(216 100% 90%),
        selected:           hsl(216 100% 95%),
        bkgd:               hsl(0 0% var(--l, 100%)),
        bkgd-box-subtle:    hsl(0 0% var(--l, 96%)),
        bkgd-box-strong:    hsl(0 0% var(--l, 20%)),
        bkgd-form:          hsl(0 0% 100%),
        bkgd-form-disabled: hsl(0 0% 89%),
        grad-from:          hsl(0 0% var(--l, 93%)),
        grad-to:            hsl(0 0% var(--l, 87%)),
        hilite:             hsl(48 100% var(--l, 63%)),
        strong-hilite-box:  hsl(48 100% var(--l, 76%)),
        hilite-box:         hsl(48 100% var(--l, 94%)),
        brdr:               hsl(0 0% 80%),
        brdr-lite:          hsl(0 0% 82.5%),
        brdr-x-lite:        hsl(0 0% 85%),
        brdr-dark:          hsl(0 0% 75%),
        brdr-x-dark:        hsl(0 0% 70%),
    ),
    neutral-1: (),
    neutral-2: (),
    neutral-3: (),
    neutral-4: (),
    neutral-5: (),
    neutral-6: (),
    neutral-7: (),
    neutral-8: (),
    bold-1: (),
    bold-2: (),
    bold-3: (),
    bold-4: (),
    bold-5: (),
    bold-6: (),
    bold-7: (),
    bold-8: (),
    sleek-1: (),
    sleek-2: (),
    sleek-3: (),
    sleek-4: (),
    sleek-5: (),
    sleek-6: (),
    sleek-7: (),
    sleek-8: (),
) !default;

$colors-themable-light: map.get($colors-theme-light, #{settings.$color-scheme}) !default;
