$colors-light: (
    fixed: (
        btn-text:               hsl(0 0% 0%),
        btn-grad-from:          hsl(0 0% 93%),
        btn-grad-to:            hsl(0 0% 87%),
        btn-brdr:               hsl(0 0% 87%),
        btn-shadow:             hsl(0 0% 67%),
        btn-primary-grad-from:  hsl(48 100% 63%),
        btn-primary-grad-to:    hsl(48 100% 57%),
        btn-primary-brdr:       hsl(48 100% 57%),
        btn-primary-shadow:     hsl(48 100% 37%),
        btn-selected-grad-from: hsl(216 100% 95%),
        btn-selected-grad-to:   hsl(216 100% 90%),
        btn-selected-brdr:      hsl(216 100% 64%),
        success-text:           hsl(120 60% 34%),
        success-bkgd:           hsl(120 40% 90%),
        success-brdr:           hsl(102 40% 68%),
        warning-text:           hsl(41 100% 40%),
        warning-bkgd:           hsl(41 64% 91%),
        warning-brdr:           hsl(41 64% 71%),
        error-text:             hsl(4 69% 36%),
        error-bkgd:             hsl(4 43% 91%),
        error-brdr:             hsl(4 43% 78%),
        info-text:              hsl(200 50% 45%),
        info-bkgd:              hsl(200 78% 95%),
        info-brdr:              hsl(200 78% 82%)
    ),
    themable: (
        text:               hsl(0 0% 20%),
        text-promoted:      hsl(0 0% 0%),
        text-promoted-a50:  hsl(0 0% 0% / 0.5),
        text-demoted:       hsl(0 0% 35%),
        text-form:          hsl(0 0% 0%),
        text-placeholder:   hsl(0 0% 60%),
        a:                  hsl(216 100% 37%),
        a-interact:         hsl(216 100% 50%),
        a-interact-a50:     hsl(216 100% 50% / 0.5),
        focus:              hsl(216 100% 50%),
        selecting:          hsl(216 100% 90%),
        selected:           hsl(216 100% 95%),
        bkgd:               hsl(0 0% var(--l, 100%)),
        bkgd-box-subtle:    hsl(0 0% var(--l, 96%)),
        bkgd-box-strong:    hsl(0 0% var(--l, 20%)),
        bkgd-form:          hsl(0 0% 100%),
        bkgd-form-disabled: hsl(0 0% 89%),
        grad-from:          hsl(0 0% var(--l, 93%)),
        grad-to:            hsl(0 0% var(--l, 87%)),
        hilite:             hsl(48 100% var(--l, 63%)),
        strong-hilite-box:  hsl(48 100% var(--l, 76%)),
        hilite-box:         hsl(48 100% var(--l, 94%)),
        brdr:               hsl(0 0% 80%),
        brdr-lite:          hsl(0 0% 82.5%),
        brdr-x-lite:        hsl(0 0% 85%),
        brdr-dark:          hsl(0 0% 75%),
        brdr-x-dark:        hsl(0 0% 70%)
    )
) !default;

$colors-dark: (
    fixed: (
        success-text: hsl(100 60% 50%),
        success-bkgd: hsl(109 27% 20%),
        success-brdr: hsl(100 60% 50% / 0.33),
        warning-text: hsl(40 100% 62%),
        warning-bkgd: hsl(49 35% 21%),
        warning-brdr: hsl(40 100% 62% / 0.33),
        error-text:   hsl(337 100% 60%),
        error-bkgd:   hsl(348 34% 21%),
        error-brdr:   hsl(337 100% 60% / 0.43),
        info-text:    hsl(207 100% 63%),
        info-bkgd:    hsl(207 68% 17%),
        info-brdr:    hsl(207 100% 63% / 0.38)
    ),
    themable: (
        text:               hsl(210 14% 83%),
        text-promoted:      hsl(0 0% 100%),
        text-promoted-a50:  hsl(0 0% 100% / 0.5),
        text-demoted:       hsl(210 14% 70%),
        text-form:          hsl(0 0% 100%),
        text-placeholder:   hsl(210 6% 48%),
        a:                  hsl(210 100% 81%),
        a-interact:         hsl(210 100% 87%),
        a-interact-a50:     hsl(210 100% 87% / 0.5),
        focus:              hsl(312 100% 50%),
        selecting:          hsl(210 50% 18%),
        selected:           hsl(210 50% 21%),
        bkgd:               hsl(210 11% var(--l, 20%)),
        bkgd-box-subtle:    hsl(210 11% var(--l, 16%)),
        bkgd-box-strong:    hsl(210 11% var(--l, 10%)),
        bkgd-form:          hsl(210 11% 14%),
        bkgd-form-disabled: hsl(210 11% 14%),
        grad-from:          hsl(210 7% var(--l, 32%)),
        grad-to:            hsl(210 9% var(--l, 26%)),
        hilite:             hsl(48 100% var(--l, 63%)),
        strong-hilite-box:  hsl(48 42% var(--l, 47%)),
        hilite-box:         hsl(48 20% var(--l, 30%)),
        brdr:               hsl(210 7% 30%),
        brdr-lite:          hsl(210 7% 40%),
        brdr-x-lite:        hsl(210 7% 50%),
        brdr-dark:          hsl(210 7% 16%),
        brdr-x-dark:        hsl(210 7% 4%)
    )
) !default;
