@use "sass:map";
@use "../setup/settings";

$colors-theme-light: (
    default: (
        "text":               hsl(0 0% 20%),
        "text-promoted":      hsl(0 0% 0%),
        "text-promoted-a50":  hsl(0 0% 0% / 0.5),
        "text-demoted":       hsl(0 0% 35%),
        "text-form":          hsl(0 0% 0%),
        "text-placeholder":   hsl(0 0% 60%),
        "a":                  hsl(216 100% 37%),
        "a-interact":         hsl(216 100% 50%),
        "a-interact-a50":     hsl(216 100% 50% / 0.5),
        "focus":              hsl(216 100% 50%),
        "selecting":          hsl(216 100% 90%),
        "selected":           hsl(216 100% 95%),
        "bkgd":               hsl(0 0% var(--l, 100%)),
        "bkgd-box-subtle":    hsl(0 0% var(--l, 96%)),
        "bkgd-box-strong":    hsl(0 0% var(--l, 20%)),
        "bkgd-form":          hsl(0 0% 100%),
        "bkgd-form-disabled": hsl(0 0% 89%),
        "grad-from":          hsl(0 0% var(--l, 93%)),
        "grad-to":            hsl(0 0% var(--l, 87%)),
        "hilite":             hsl(48 100% var(--l, 63%)),
        "strong-hilite-box":  hsl(48 100% var(--l, 76%)),
        "hilite-box":         hsl(48 100% var(--l, 94%)),
        "brdr":               hsl(0 0% 80%),
        "brdr-lite":          hsl(0 0% 82.5%),
        "brdr-x-lite":        hsl(0 0% 85%),
        "brdr-dark":          hsl(0 0% 75%),
        "brdr-x-dark":        hsl(0 0% 70%),
    ),
    neutral-1: (
        "text":               hsl(200 50% 10%),
        "text-promoted":      hsl(200 50% 18%),
        "text-promoted-a50":  hsl(200 50% 0% / 0.5),
        "text-demoted":       hsl(200 50% 35%),
        "text-form":          hsl(200 25% 10%),
        "text-placeholder":   hsl(200 12.5% 50%),
        "a":                  hsl(200 50% 37%),
        "a-interact":         hsl(200 50% 50%),
        "a-interact-a50":     hsl(200 50% 50% / 0.5),
        "focus":              hsl(312 100% 50%),
        "selecting":          hsl(200 50% 90%),
        "selected":           hsl(200 50% 95%),
        "bkgd":               hsl(27 15% var(--l, 97%)),
        "bkgd-box-subtle":    hsl(27 15% var(--l, 92%)),
        "bkgd-box-strong":    hsl(200 50% var(--l, 20%)),
        "bkgd-form":          hsl(0 0% 100%),
        "bkgd-form-disabled": hsl(0 0% 89%),
        "grad-from":          hsl(200 12.5% var(--l, 93%)),
        "grad-to":            hsl(200 12.5% var(--l, 87%)),
        "hilite":             hsl(178 42% var(--l, 50%)),
        "strong-hilite-box":  hsl(178 42% var(--l, 75%)),
        "hilite-box":         hsl(178 42% var(--l, 90%)),
        "brdr":               hsl(200 25% 75%),
        "brdr-lite":          hsl(200 25% 80%),
        "brdr-x-lite":        hsl(200 25% 85%),
        "brdr-dark":          hsl(200 25% 70%),
        "brdr-x-dark":        hsl(200 25% 60%),
    ),
    neutral-2: (),
    neutral-3: (),
    neutral-4: (),
    neutral-5: (),
    neutral-6: (),
    neutral-7: (),
    neutral-8: (),
    bold-1: (),
    bold-2: (),
    bold-3: (),
    bold-4: (),
    bold-5: (),
    bold-6: (),
    bold-7: (),
    bold-8: (),
    sleek-1: (),
    sleek-2: (),
    sleek-3: (),
    sleek-4: (),
    sleek-5: (),
    sleek-6: (),
    sleek-7: (),
    sleek-8: (),
) !default;

$colors-themable-light: map.get($colors-theme-light, #{settings.$color-scheme}) !default;
