@use "sass:map";
@use "../setup/settings";

$colors-light-theme: (
    default: (
        text:               hsl(0 0% 20%),
        text-promoted:      hsl(0 0% 0%),
        text-promoted-a50:  hsl(0 0% 0% / 0.5),
        text-demoted:       hsl(0 0% 35%),
        text-form:          hsl(0 0% 0%),
        text-placeholder:   hsl(0 0% 60%),
        a:                  hsl(216 100% 37%),
        a-interact:         hsl(216 100% 50%),
        a-interact-a50:     hsl(216 100% 50% / 0.5),
        focus:              hsl(216 100% 50%),
        selecting:          hsl(216 100% 90%),
        selected:           hsl(216 100% 95%),
        bkgd:               hsl(0 0% var(--l, 100%)),
        bkgd-box-subtle:    hsl(0 0% var(--l, 96%)),
        bkgd-box-strong:    hsl(0 0% var(--l, 20%)),
        bkgd-form:          hsl(0 0% 100%),
        bkgd-form-disabled: hsl(0 0% 89%),
        grad-from:          hsl(0 0% var(--l, 93%)),
        grad-to:            hsl(0 0% var(--l, 87%)),
        hilite:             hsl(48 100% var(--l, 63%)),
        strong-hilite-box:  hsl(48 100% var(--l, 76%)),
        hilite-box:         hsl(48 100% var(--l, 94%)),
        brdr:               hsl(0 0% 80%),
        brdr-lite:          hsl(0 0% 82.5%),
        brdr-x-lite:        hsl(0 0% 85%),
        brdr-dark:          hsl(0 0% 75%),
        brdr-x-dark:        hsl(0 0% 70%),
    ),
) !default;

$colors-light-themable: map.get($colors-light-theme, #{settings.$color-scheme}) !default;

$colors-dark-theme: (
    default: (
        text:               hsl(210 14% 83%),
        text-promoted:      hsl(0 0% 100%),
        text-promoted-a50:  hsl(0 0% 100% / 0.5),
        text-demoted:       hsl(210 14% 70%),
        text-form:          hsl(0 0% 100%),
        text-placeholder:   hsl(210 6% 48%),
        a:                  hsl(210 100% 81%),
        a-interact:         hsl(210 100% 87%),
        a-interact-a50:     hsl(210 100% 87% / 0.5),
        focus:              hsl(312 100% 50%),
        selecting:          hsl(210 50% 18%),
        selected:           hsl(210 50% 21%),
        bkgd:               hsl(210 11% var(--l, 20%)),
        bkgd-box-subtle:    hsl(210 11% var(--l, 16%)),
        bkgd-box-strong:    hsl(210 11% var(--l, 10%)),
        bkgd-form:          hsl(210 11% 14%),
        bkgd-form-disabled: hsl(210 11% 14%),
        grad-from:          hsl(210 7% var(--l, 32%)),
        grad-to:            hsl(210 9% var(--l, 26%)),
        hilite:             hsl(48 100% var(--l, 63%)),
        strong-hilite-box:  hsl(48 42% var(--l, 47%)),
        hilite-box:         hsl(48 20% var(--l, 30%)),
        brdr:               hsl(210 7% 30%),
        brdr-lite:          hsl(210 7% 40%),
        brdr-x-lite:        hsl(210 7% 50%),
        brdr-dark:          hsl(210 7% 16%),
        brdr-x-dark:        hsl(210 7% 4%),
    ),
) !default;

$colors-dark-themable: map.get($colors-dark-theme, #{settings.$color-scheme}) !default;
