@forward "colors-fixed";
@forward "colors-themable";

// User-defined overrides for individual colours
$colors-light-fixed-custom: () !default;
$colors-light-themable-custom: () !default;
$colors-dark-fixed-custom: () !default;
$colors-dark-themable-custom: () !default;
