/*
 * COLOURSCHEME: Test (Dark Mode)
 */

// text colours
--clr-text:               hsl(210 14% 83%);
--clr-text-promoted:      hsl(0 0% 100%);
--clr-text-promoted-a50:  hsl(0 0% 100% / 0.5);
--clr-text-demoted:       hsl(210 14% 70%);
--clr-text-form:          hsl(0 0% 100%);
--clr-text-placeholder:   hsl(210 6% 48%);
// interaction colours
--clr-a:                  hsl(210 100% 81%);
--clr-a-interact:         hsl(210 100% 87%);
--clr-a-interact-a50:     hsl(210 100% 87% / 0.5);
--clr-focus:              hsl(312 100% 50%);
--clr-selecting:          hsl(210 50% 18%);
--clr-selected:           hsl(210 50% 21%);
// neutral colours
--clr-bkgd:               hsl(210 11% 20%);
--clr-bkgd-box-subtle:    hsl(210 11% 16%);
--clr-bkgd-box-strong:    hsl(210 11% 10%);
--clr-bkgd-form:          hsl(210 11% 14%);
--clr-bkgd-form-disabled: hsl(210 11% 14%);
--clr-grad-from:          hsl(210 7% 32%);
--clr-grad-to:            hsl(210 9% 26%);
// accent colours
--clr-hilite:             hsl(48 100% 63%);
--clr-strong-hilite-box:  hsl(48 42% 47%);
--clr-hilite-box:         hsl(48 20% 30%);
// border colours
--clr-brdr:               hsl(210 7% 30%);
--clr-brdr-lite:          hsl(210 7% 40%);
--clr-brdr-x-lite:        hsl(210 7% 50%);
--clr-brdr-dark:          hsl(210 7% 16%);
--clr-brdr-x-dark:        hsl(210 7% 4%);
