// Light Mode fixed colours

// text colours
$color-text-white-out:                hsl(0, 0%, 100%) !default;
// button colours
$color-button-text:                   hsl(0, 0%, 0%) !default;
$color-button-gradient-from:          hsl(0, 0%, 93%) !default;
$color-button-gradient-to:            hsl(0, 0%, 87%) !default;
$color-button-border:                 hsl(0, 0%, 87%) !default;
$color-button-shadow:                 hsl(0, 0%, 67%) !default;
$color-button-primary-gradient-from:  hsl(48, 100%, 63%) !default;
$color-button-primary-gradient-to:    hsl(48, 100%, 57%) !default;
$color-button-primary-border:         hsl(48, 100%, 57%) !default;
$color-button-primary-shadow:         hsl(48, 100%, 37%) !default;
$color-button-selected-gradient-from: hsl(216, 100%, 95%) !default;
$color-button-selected-gradient-to:   hsl(216, 100%, 90%) !default;
$color-button-selected-border:        hsl(216, 100%, 64%) !default;
// alert colours
$color-success-text:                  hsl(120, 60%, 34%) !default;
$color-success-background:            hsl(120, 40%, 90%) !default;
$color-success-border:                hsl(102, 40%, 68%) !default;
$color-warning-text:                  hsl(41, 100%, 40%) !default;
$color-warning-background:            hsl(41, 64%, 91%) !default;
$color-warning-border:                hsl(41, 64%, 71%) !default;
$color-error-text:                    hsl(4, 69%, 36%) !default;
$color-error-background:              hsl(4, 43%, 91%) !default;
$color-error-border:                  hsl(4, 43%, 78%) !default;
$color-info-text:                     hsl(200, 50%, 45%) !default;
$color-info-background:               hsl(200, 78%, 95%) !default;
$color-info-border:                   hsl(200, 78%, 82%) !default;
// shadows
$standard-shadow:                     0 0 0.5em hsla(0, 0%, 0%, 0.25) !default;

// Dark Mode fixed colours

// alert colours
$dark-color-success-text:             hsl(100, 60%, 50%) !default;
$dark-color-success-background:       hsl(109, 27%, 20%) !default;
$dark-color-success-border:           hsla(100, 60%, 50%, 0.33) !default;
$dark-color-warning-text:             hsl(40, 100%, 62%) !default;
$dark-color-warning-background:       hsl(49, 35%, 21%) !default;
$dark-color-warning-border:           hsla(40, 100%, 62%, 0.33) !default;
$dark-color-error-text:               hsl(337, 100%, 60%) !default;
$dark-color-error-background:         hsl(348, 34%, 21%) !default;
$dark-color-error-border:             hsla(337, 100%, 60%, 0.43) !default;
$dark-color-info-text:                hsl(207, 100%, 63%) !default;
$dark-color-info-background:          hsl(207, 68%, 17%) !default;
$dark-color-info-border:              hsla(207, 100%, 63%, 0.38) !default;
// shadows
$dark-standard-shadow:                0 0 0.5em hsla(0, 0%, 0%, 0.75) !default;
