// Light Mode default colours

// text colours
$color-text:                          hsl(0, 0%, 20%) !default;
$color-text-promoted:                 hsl(0, 0%, 0%) !default;
$color-text-promoted-a50:             hsla(0, 0%, 0%, 0.5) !default;
$color-text-form:                     hsl(0, 0%, 0%) !default;
$color-text-form-placeholder:         hsl(0, 0%, 60%) !default;
$color-text-demoted:                  hsl(0, 0%, 35%) !default;
// interaction colours
$color-link:                          hsl(216, 100%, 37%) !default;
$color-link-hover:                    hsl(216, 100%, 50%) !default;
$color-link-focus:                    hsl(216, 100%, 50%) !default;
$color-selecting:                     hsl(216, 100%, 90%) !default;
$color-selected:                      hsl(216, 100%, 95%) !default;
// neutral colours
$color-background:                    hsl(0, 0%, 100%) !default;
$color-background-zebra-subtle:       hsl(0, 0%, 96%) !default;
$color-background-zebra-strong:       hsl(0, 0%, 20%) !default;
$color-background-box:                hsl(0, 0%, 96%) !default;
$color-background-form:               hsl(0, 0%, 100%) !default;
$color-background-form-disabled:      hsl(0, 0%, 89%) !default;
$color-gradient-from:                 hsl(0, 0%, 93%) !default;
$color-gradient-to:                   hsl(0, 0%, 87%) !default;
// accent colours
$color-highlight:                     hsl(48, 100%, 63%) !default;
$color-strong-highlight-box:          hsl(48, 100%, 76%) !default;
$color-highlight-box:                 hsl(48, 100%, 94%) !default;
// border colours
$color-border-extra-light:            hsl(0, 0%, 85%) !default;
$color-border-light:                  hsl(0, 0%, 82.5%) !default;
$color-border:                        hsl(0, 0%, 80%) !default;
$color-border-dark:                   hsl(0, 0%, 75%) !default;
$color-border-extra-dark:             hsl(0, 0%, 70%) !default;

// Dark Mode default colours

// text colours
$dark-color-text:                     hsl(210, 14%, 83%) !default;
$dark-color-text-promoted:            hsl(0, 0%, 100%) !default;
$dark-color-text-promoted-a50:        hsla(0, 0%, 100%, 0.5) !default;
$dark-color-text-form:                hsl(0, 0%, 100%) !default;
$dark-color-text-form-placeholder:    hsl(210, 6%, 48%) !default;
$dark-color-text-demoted:             hsl(210, 14%, 70%) !default;
// interaction colours
$dark-color-link:                     hsl(210, 100%, 81%) !default;
$dark-color-link-hover:               hsl(210, 100%, 87%) !default;
$dark-color-link-focus:               hsl(312, 100%, 50%) !default;
$dark-color-selecting:                hsl(210, 50%, 18%) !default;
$dark-color-selected:                 hsl(210, 50%, 21%) !default;
// neutral colours
$dark-color-background:               hsl(210, 11%, 20%) !default;
$dark-color-background-zebra-subtle:  hsl(210, 11%, 16%) !default;
$dark-color-background-zebra-strong:  hsl(210, 11%, 10%) !default;
$dark-color-background-box:           hsl(210, 11%, 16%) !default;
$dark-color-background-form:          hsl(210, 11%, 14%) !default;
$dark-color-background-form-disabled: hsl(210, 11%, 14%) !default;
$dark-color-gradient-from:            hsl(210, 7%, 32%) !default;
$dark-color-gradient-to:              hsl(210, 9%, 26%) !default;
// accent colours
$dark-color-highlight:                hsl(48, 100%, 63%) !default;
$dark-color-strong-highlight-box:     hsl(48, 42%, 47%) !default;
$dark-color-highlight-box:            hsl(48, 20%, 30%) !default;
// border colours
$dark-color-border-extra-light:       hsl(210, 7%, 30%) !default;
$dark-color-border-light:             hsl(210, 7%, 40%) !default;
$dark-color-border:                   hsl(210, 7%, 50%) !default;
$dark-color-border-dark:              hsl(210, 7%, 16%) !default;
$dark-color-border-extra-dark:        hsl(210, 7%, 4%) !default;
