// font families

$font-serif:          "PT Serif", Georgia, serif !default;
$font-sans-serif:     system-ui, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-form:           $font-sans-serif !default;
$font-code:           Menlo, Consolas, Monaco, monospace !default;
$font-print:          "Helvetica Neue", sans-serif !default;

// typography grid

$base-font-size:      16px !default;
$base-line-height:    1.5 !default; // 24px / 16px
$code-font-size:      0.875rem !default; // 14px / 16px
$small-font-size:     0.8125rem !default; // 13px / 16px

// layout grid

$container-max-width: 62em !default; // 992px / 16px
$breakpoint-3:        48em !default; // 768px / 16px
$breakpoint-2:        36em !default; // 576px / 16px
$breakpoint-1:        24em !default; // 384px / 16px

// borders

$border-radius:       0.5em !default; // 8px / 16px

// shadows

$standard-shadow:     0 0 0.5em rgba(0, 0, 0, 0.2) !default;
