// Use user defined list of modules?
$modules-user-defined: false !default; // true/false

// Support non-latin languages?
$internationalization: true !default; // true/false

// Support for Dark Mode?
$use-dark-mode:        true !default; // true/false

// Support for jQuery UI elements?
$use-jquery-ui:        true !default; // true/false

// Support for icons (overrode by $use-jquery-ui above)?
$use-icons:            true !default; // true/false

// Font stack defaults
$font-stack-serif-vf:      hive-framework-serif-vf, Georgia, serif !default;
$font-stack-serif:         hive-framework-serif, Georgia, serif !default;
$font-stack-sans-serif-vf: hive-framework-sans-serif-vf, system-ui, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-stack-sans-serif:    hive-framework-sans-serif, system-ui, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-stack-form-vf:       hive-framework-sans-serif-vf, system-ui, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-stack-form:          hive-framework-sans-serif, system-ui, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-stack-code:          Menlo, Consolas, Monaco, monospace !default;
$font-stack-print:         "Helvetica Neue", sans-serif !default;

// Primary serif font file defaults
// variable
$font-serif-vf:         "source-serif-pro/SourceSerifVariable-Roman" !default;
$font-serif-vf-italic:  "source-serif-pro/SourceSerifVariable-Italic" !default;
$font-serif-vf-wght:    200 900 !default;
// thin
$font-serif-100:        null !default;
$font-serif-100-italic: null !default;
// extra light
$font-serif-200:        null !default;
$font-serif-200-italic: null !default;
// light
$font-serif-300:        null !default;
$font-serif-300-italic: null !default;
// normal/regular
$font-serif-400:        "source-serif-pro/SourceSerifPro-Regular" !default;
$font-serif-400-italic: "source-serif-pro/SourceSerifPro-It" !default;
// medium
$font-serif-500:        null !default;
$font-serif-500-italic: null !default;
// semi bold
$font-serif-600:        null !default;
$font-serif-600-italic: null !default;
// bold
$font-serif-700:        "source-serif-pro/SourceSerifPro-Bold" !default;
$font-serif-700-italic: "source-serif-pro/SourceSerifPro-BoldIt" !default;
// extra bold
$font-serif-800:        null !default;
$font-serif-800-italic: null !default;
// black
$font-serif-900:        null !default;
$font-serif-900-italic: null !default;

// Primary sans-serif font file defaults
// variable
$font-sans-serif-vf:         "source-sans-pro/SourceSans3VF-Roman" !default;
$font-sans-serif-vf-italic:  "source-sans-pro/SourceSans3VF-Italic" !default;
$font-sans-serif-vf-wght:    200 900 !default;
// thin
$font-sans-serif-100:        null !default;
$font-sans-serif-100-italic: null !default;
// extra light
$font-sans-serif-200:        null !default;
$font-sans-serif-200-italic: null !default;
// light
$font-sans-serif-300:        null !default;
$font-sans-serif-300-italic: null !default;
// normal/regular
$font-sans-serif-400:        "source-sans-pro/SourceSans3-Regular" !default;
$font-sans-serif-400-italic: "source-sans-pro/SourceSans3-It" !default;
// medium
$font-sans-serif-500:        null !default;
$font-sans-serif-500-italic: null !default;
// semi bold
$font-sans-serif-600:        null !default;
$font-sans-serif-600-italic: null !default;
// bold
$font-sans-serif-700:        "source-sans-pro/SourceSans3-Bold" !default;
$font-sans-serif-700-italic: "source-sans-pro/SourceSans3-BoldIt" !default;
// extra bold
$font-sans-serif-800:        null !default;
$font-sans-serif-800-italic: null !default;
// black
$font-sans-serif-900:        null !default;
$font-sans-serif-900-italic: null !default;

// Primary form element WOFF2 font file defaults
$font-form-vf: null !default;
$font-form:    null !default;

// Primary code element WOFF2 font file defaults
$font-code: null !default;

// Primary print WOFF2 font file defaults
$font-print: null !default;

// Typography grid defaults
$base-font-size:      16px !default;
$line-height-desktop: 1.5 !default;
$line-height-mobile:  1.375 !default;
$code-font-size:      0.875rem !default; // 14px / 16px
$small-font-size:     0.8125rem !default; // 13px / 16px

// Layout grid defaults
$container-max-width: 75em !default; // 1200px / 16px
$breakpoint-3:        60em !default; // 960px / 16px
$breakpoint-2:        48em !default; // 768px / 16px
$breakpoint-1:        30em !default; // 480px / 16px

// Border radius defaults
$border-radius:      0.5rem !default; // 8px / 16px
$border-radius-form: 0.25rem !default; // 4px / 16px

// Button styling defaults
$button-height:              2em !default; // 32px / 16px
$button-large-height:        $button-height * 1.25 !default;
$button-padding:             0.25em 1em !default; // 4px / 16px
$button-large-padding:       0.5em 1em !default; // 8px / 16px;
$button-small-padding:       0.3076923em 1em !default; // 4px / 13px
$button-border:              1px solid !default;
$button-radius:              1em !default;
$button-large-radius:        $button-radius * 1.25 !default;
$button-box-shadow-offset-y: 2px !default;
$button-box-shadow:          0 $button-box-shadow-offset-y 0 !default;

// Site logo defaults
$site-logo-file:   "../../mockups/img/site-logo@2x.png" !default;
$site-logo-width:  240px !default; // recommended maximum width ~240px.
$site-logo-height: 40px !default;
