@use "sass:math";
@use "../setup";

/* Alert messages
   ========================================================================== */

/**
 * Alert labels.
 *
 * Example HTML:
 *
 * <span class="success">
 * <span class="error">
 * <strong class="success">
 * <strong class="error">
 */

.success {
    color: var(--clr-success-text);
}

.warning {
    color: var(--clr-warning-text);
}

.error {
    color: var(--clr-error-text);
}

.information {
    color: var(--clr-info-text);
}

/**
 * Alert backgrounds.
 *
 * Example HTML:
 *
 * <span class="background--success">
 * <span class="background--error">
 * <strong class="background--success">
 * <strong class="background--error">
 */

.background--success {
    background: var(--clr-success-bkgd);
}

.background--warning {
    background: var(--clr-warning-bkgd);
}

.background--error {
    background: var(--clr-error-bkgd);
}

.background--information {
    background: var(--clr-info-bkgd);
}

/**
 * Highlighted background.
 *
 * Example HTML:
 *
 * <table>
 *     <tr class="highlighted>
 *         <td></td>
 *         <td></td>
 *     </tr>
 * </table>
 */

.highlighted {
    background: var(--clr-hilite-box);
}

/**
 * Alert boxes.
 *
 * 1. Prevent really, really long words from breaking layout.
 *
 * Example HTML:
 *
 * <p class="alert-block success">
 * <p class="alert-block error">
 */

.alert-block {
    position: relative;
    padding: 0.5em 1em;
    border: 1px solid;
    border-radius: math.div(setup.$border-radius, 2);
    word-wrap: break-word; /* 1 */

    &.success {
        border-color: var(--clr-success-brdr);
        background: var(--clr-success-bkgd);
    }

    &.warning {
        border-color: var(--clr-warning-brdr);
        background: var(--clr-warning-bkgd);
    }

    &.error {
        border-color: var(--clr-error-brdr);
        background: var(--clr-error-bkgd);
    }

    &.information {
        border-color: var(--clr-info-brdr);
        background: var(--clr-info-bkgd);
    }
}

/**
 * Alert pills.
 *
 * Example HTML:
 *
 * <small class="alert-block alert-pill warning">
 */

.alert-pill {
    display: inline-block;
    padding: 0.125em 0.33em;
    font-weight: 400;
}

/**
 * Alert bubbles (with pointer arrows).
 *
 * Example HTML:
 *
 * <small class="alert-block alert-bubble warning">
 */

.alert-bubble {
    display: inline-block;
}

.alert-bubble::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -0.75em;
    margin-left: -0.75em;
    border: 0.75em solid transparent;
    border-top: 0;
    border-bottom-color: inherit;
}

.alert-bubble.over::after {
    top: auto;
    bottom: 0;
    left: 50%;
    margin-top: 0;
    margin-bottom: -0.75em;
    border: 0.75em solid transparent;
    border-top-color: inherit;
    border-bottom: 0;
}
