@use "../setup";

/* Animation `keyframes` need to appear outside of `screen` rules.
   ========================================================================== */

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes progressbar-stripes {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 48px 0;
    }
}
