@use "../setup";

.error-page,
.search-page,
.listing-page,
.blog-listing-page {
    main {
        text-align: center;
    }
}

.article {
    margin: 0 0 2rem;
    font-size: 1.125rem; // 18px / 16px
}

.article-description,
.article-body,
.article-comments {
    display: grid;
    grid-template-columns: 1fr min(setup.$article-max-width, 100%) 1fr;

    > * {
        grid-column: 2;
        margin-top: 0;
    }

    .full-bleed {
        grid-column: 1 / -1;
        width: 100%;
    }
}

.article-header {
    margin: 2em 0;
    font-size: 1rem;
    text-align: center;

    .separator {
        margin: 0 0.5em;
    }
}

.article-description {
    font-family: var(--font-serif);
    font-size: 1.3125rem; // 21px / 16px
    font-variation-settings: "wght" 400; // older browsers will just ignore this
    font-weight: 400; // to prevent faux bolding of variable font
    line-height: 1.4; // 28px / 20px
}

@if setup.$font-stack-serif-vf {
    @supports (font-variation-settings: normal) {
        .article-description {
            font-family: var(--font-serif-vf);
        }
    }
}

/**
 * Additional styling for article lists.
 *
 * Example HTML:
 *
 * <ul class="article-list">
 */

.article-list {
    padding: 0;
    list-style: none;

    li {
        border-top: 1px dashed var(--clr-brdr);
    }
}
