@use "../setup";

/* Comments
   ========================================================================== */

/**
 * Styling for user comments.
 */

.list--comments {
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);

    li {
        border-top: 1px dashed var(--color-border);
    }

    li:first-child {
        border-top: 0;
    }
}

.comments {
    position: relative;
    word-wrap: break-word;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -1rem;
    }

    h4 {
        margin: 1rem 0;

        .is-author {
            margin-inline-start: 0.33em;
            font-family: var(--font-sans-serif);
            font-size: setup.$small-font-size;
        }
    }
}

@if setup.$font-stack-form-vf {
    @supports (font-variation-settings: normal) {
        .comments h4 .is-author {
            font-family: var(--font-form-vf);
        }
    }
}

/**
 * Styling for user comments preview.
 */

#cpreview {
    margin-bottom: 2px;
    padding: 1em;
    border-radius: setup.$border-radius;
    background-color: var(--color-highlight-box);
}

/**
 * Highlight text colour for comment errors.
 */

.error_message li {
    color: var(--color-error-text);
}

/**
 * Highlighting for comment form errors.
 */

.comments_error {
    border-color: var(--color-error-text);
}
