@use "../setup";

.article-header {
    text-align: center;
}

.article-description {
    font-family: var(--font-serif);
    font-size: 1.25rem; // 20px / 16px

    @if setup.$font-stack-serif-vf {
        font-variation-settings: "wght" 400; // older browsers will just ignore this
    }

    font-weight: 400; // to prevent faux bolding of variable font
    line-height: 1.4; // 28px / 20px
}

@if setup.$font-stack-serif-vf {
    @supports (font-variation-settings: normal) {
        .article-description {
            font-family: var(--font-serif-vf);
        }
    }
}
