@use "../setup";

/* Comments
   ========================================================================== */

/**
 * Styling for user comments.
 */

.list--comments {
    padding: 0;
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
    list-style: none;

    li {
        border-top: 1px dashed var(--color-border);
    }

    li:first-child {
        border-top: 0;
    }
}

.comments {
    word-wrap: break-word;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: -1em;
        font-size: 1rem;
    }

    h4 {
        margin: 1rem 0;

        .is-author {
            margin-inline-start: 0.33em;
            font-family: var(--font-sans-serif);
            font-size: setup.$small-font-size;
        }
    }
}

@if setup.$font-stack-form-vf {
    @supports (font-variation-settings: normal) {
        .comments h4 .is-author {
            font-family: var(--font-form-vf);
        }
    }
}

/**
 * Comfortable space between preview and submit buttons.
 */

[name="preview"] + [name="submit"] {
    margin-inline-start: 0.5rem;
}

/**
 * Styling for user comments preview.
 */

/*! purgecss ignore */
#cpreview {
    margin-bottom: 0;
    padding: 0.5em 1em;
    border-radius: setup.$border-radius;
    background-color: var(--color-highlight-box);
}

/**
 * Highlight text colour for comment errors.
 */

/*! purgecss ignore */
.error_message li {
    color: var(--color-error-text);
}

/**
 * Highlighting for comment form errors.
 */

/*! purgecss start ignore */
.comments_error {
    border-color: var(--color-error-text);
}

@include setup.dark-mode {
    .comments_error {
        border-color: var(--color-error-text);
    }
}
/*! purgecss end ignore */
