@use "../setup";

.search-page main,
.listing-page main,
.blog-listing-page main {
    text-align: center;
}

.article {
    margin: 0 0 2rem;
    font-size: 1.125rem; // 18px / 16px
}

.article-header {
    margin-top: 2em;
    font-size: 1rem;
    text-align: center;

    .separator {
        margin: 0 0.5em;
    }
}

.article-description {
    font-family: var(--font-serif);
    font-size: 1.3125rem; // 21px / 16px
    font-variation-settings: "wght" 400; // older browsers will just ignore this
    font-weight: 400; // to prevent faux bolding of variable font
    line-height: 1.4; // 28px / 20px
}

@if setup.$font-stack-serif-vf {
    @supports (font-variation-settings: normal) {
        .article-description {
            font-family: var(--font-serif-vf);
        }
    }
}

/**
 * Additional styling for article lists.
 *
 * Example HTML:
 *
 * <ul class="article-list">
 */

.article-list {
    padding: 0;
    list-style: none;

    li {
        border-top: 1px dashed var(--color-border);
    }
}
