@use "../setup";

/* Reset
   ========================================================================== */

/**
 * Add the correct display in Edge and Firefox.
 */

details {
    display: block;
}

/**
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/**
 * Remove tap delay in modern browsers.
 */

a,
input,
button {
    touch-action: manipulation;
}


/* Clearfix
   ========================================================================== */

/**
 * Clearfix using the 'A new micro clearfix hack' method.
 */

header,
footer,
nav ul,
nav ol,
.clearfix,
.paginator {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Basic float clearer.
 */

.clear {
    clear: both;
}
