/* Breadcrumb links
   ========================================================================== */

/**
 * Lists as breadcrumbs
 *
 * Example HTML:
 *
 * <ol class="breadcrumbs">
 *     <li></li>
 *     <li></li>
 * </ol>
 *
 * <ol class="breadcrumbs-path">
 *     <li></li>
 *     <li></li>
 * </ol>
 */

.breadcrumbs,
.breadcrumbs--path {
    padding: 0 0.3333333em; // 4px / 12px
    background-color: $color-background-box;
    font-size: $small-font-size;
    list-style: none;

    li {
        display: inline-block;
    }
}

/**
 * Simple breadcrumb styling to apply to (ordered) lists.
 */

.breadcrumbs > li + li::before {
    content: "\00A0" "\2192" "\00A0";
}

/**
 * Path-like breadcrumb styling.
 */

.breadcrumbs--path > li + li::before {
    content: "\00A0" "\002F" "\00A0";
}
