/* Colourscheme
   ========================================================================== */

// slightly lighten a colour

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

// slightly darken a colour

@function shade($color, $percentage) {
    @return mix(black, $color, $percentage);
}

/* stylelint-disable declaration-colon-space-after */

:root {
    // text colours
    --color-text:                          hsl(0, 0%, 20%);
    --color-text-heading:                  hsl(0, 0%, 0%);
    --color-text-button:                   hsl(0, 0%, 0%);
    --color-text-button-hover:             hsl(0, 0%, 0%);
    --color-text-button-active:            hsl(0, 0%, 0%);
    --color-text-form:                     hsl(0, 0%, 0%);
    --color-text-form-placeholder:         hsl(0, 0%, 60%);
    --color-text-footnote:                 hsl(0, 0%, 35%);
    --color-text-white-out:                hsl(0, 0%, 100%);
    --color-text-print:                    hsl(0, 0%, 0%);
    // interaction colours
    --color-link:                          hsl(216, 100%, 37%);
    --color-link-hover:                    hsl(216, 100%, 50%);
    --color-link-focus:                    hsl(216, 100%, 50%);
    --color-selecting:                     hsl(216, 100%, 90%);
    --color-selected:                      hsl(216, 100%, 95%);
    // neutral colours
    --color-background:                    hsl(0, 0%, 100%);
    --color-background-box:                hsl(0, 0%, 97%);
    --color-background-form:               hsl(0, 0%, 100%);
    --color-background-form-disabled:      hsl(0, 0%, 89%);
    --color-gradient-from:                 hsl(0, 0%, 93%);
    --color-gradient-to:                   hsl(0, 0%, 87%);
    // accent colours
    --color-highlight:                     hsl(48, 100%, 63%);
    --color-strong-highlight-box:          hsl(48, 100%, 76%);
    --color-highlight-box:                 hsl(48, 100%, 94%);
    // border colours
    --color-border:                        hsl(0, 0%, 80%);
    --color-border-light:                  hsl(0, 0%, 82%);
    --color-border-extra-light:            tint($color-border, 14%);
    --color-border-dark:                   shade($color-border, 7%);
    --color-border-extra-dark:             shade($color-border, 14%);
    // button colours
    --color-button-gradient-from:          hsl(0, 0%, 93%);
    --color-button-gradient-to:            darken($color-button-gradient-from, 6%);
    --color-button-border:                 hsl(0, 0%, 87%);
    --color-button-shadow:                 darken($color-button-border, 20%);
    --color-button-selected-gradient-from: tint($color-link-hover, 84%);
    --color-button-selected-gradient-to:   tint($color-link-hover, 78%);
    --color-button-selected-border:        darken($color-button-selected-gradient-to, 10.5%);
    // alert colours
    --color-success-text:                  hsl(120, 60%, 34%);
    --color-success-background:            hsl(120, 44%, 89%);
    --color-success-border:                darken($color-success-background, 20%);
    --color-warning-text:                  hsl(41, 100%, 40%);
    --color-warning-background:            hsl(41, 64%, 91%);
    --color-warning-border:                darken($color-warning-background, 20%);
    --color-error-text:                    hsl(4, 69%, 36%);
    --color-error-background:              hsl(4, 43%, 91%);
    --color-error-border:                  darken($color-error-background, 12%);
    --color-info-text:                     hsl(200, 50%, 45%);
    --color-info-background:               hsl(200, 78%, 95%);
    --color-info-border:                   darken($color-info-background, 12%);
}

@media (prefers-color-scheme: dark) {
    :root {
        // text colours
        --color-text:                      hsl(210, 14%, 83%);
        --color-text-heading:              hsl(0, 0%, 100%);
        --color-text-form:                 hsl(0, 0%, 100%);
        --color-text-form-placeholder:     hsl(210, 6%, 48%);
        --color-text-footnote:             hsl(210, 17%, 82%);
        // interaction colours
        --color-link:                      hsl(204, 100%, 81%);
        --color-link-hover:                hsl(204, 100%, 87%);
        --color-link-focus:                hsl(36, 100%, 50%);
        --color-selecting:                 hsl(213, 45%, 19%);
        --color-selected:                  hsl(215, 51%, 22%);
        // neutral colours
        --color-background:                hsl(210, 11%, 24%);
        --color-background-box:            hsl(210, 11%, 21%);
        --color-background-form:           shade(#373e45, 28%);
        --color-background-form-disabled:  shade(#373e45, 28%);
        --color-gradient-from:             tint(#373e45, 8%);
        --color-gradient-to:               tint(#373e45, 16%);
        // accent colours
        --color-highlight:                 hsl(48, 100%, 63%);
        --color-strong-highlight-box:      hsl(48, 46%, 46%);
        --color-highlight-box:             hsl(54, 19%, 29%);
        // border colours
        --color-border:                    tint($dark-color-background, 36%);
        --color-border-light:              tint($dark-color-background, 24%);
        --color-border-extra-light:        tint($dark-color-background, 12%);
        --color-border-dark:               shade($dark-color-background, 12%);
        --color-border-extra-dark:         shade($dark-color-background, 75%);
        // alert colours
        --color-success-text:              hsl(100, 60%, 50%);
        --color-success-background:        hsl(109, 27%, 20%);
        --color-success-border:            hsla(100, 60%, 50%, 0.33);
        --color-warning-text:              hsl(40, 100%, 62%);
        --color-warning-background:        hsl(49, 35%, 21%);
        --color-warning-border:            hsla(40, 100%, 62%, 0.33);
        --color-error-text:                hsl(337, 100%, 60%);
        --color-error-background:          hsl(348, 34%, 21%);
        --color-error-border:              hsla(337, 100%, 60%, 0.44);
        --color-info-text:                 hsl(207, 100%, 63%);
        --color-info-background:           hsl(207, 68%, 17%);
        --color-info-border:               hsla(207, 100%, 63%, 0.38);
    }
}
