/* Comments
   ========================================================================== */

/**
 * Styling for user comments.
 *
 * Example HTML:
 *
 * <article class="comments">
 */

.comments {
    @include border-radius;

    margin-bottom: 1em;
    padding: 1em 1em 1px;
    background: $color-background-box;
    word-wrap: break-word;

    h4 {
        .is-author {
            font-weight: normal;
        }

        .comment-anchor {
            float: right;
            font-weight: normal;
        }
    }
}

/**
 * Additional styling for article author's comments.
 *
 * Example HTML:
 *
 * <article class="comments comments-author">
 */

.comments-author {
    background: darken($color-background-box, 3%);
}

/**
 * Styling for user comments preview.
 */

#cpreview {
    @include border-radius;

    margin-bottom: 2px;
    padding: 1em;
    background: #fff3d6;
}

/**
 * Highlight background colour for comment errors.
 */

.comments_error {
    background: #fff4f4 !important;
}

/**
 * Highlight text colour for comment errors.
 */

.error_message li {
    color: $color-error-text;
}
