@use "../setup";

/* Disclosure boxes (summary/details)
   ========================================================================== */

/**
 * 1. Add the correct display in Firefox.
 *
 * Example HTML:
 *
 * <details>
 *     <summary>Summary text</summary>
 *     <p>Detailed content.</p>
 * </details>
 */

details {
    display: block; /* 1 */

    > * {
        padding-right: 1em;
        padding-left: 1em;
    }

    &[open] {
        padding-bottom: 1px;
        outline: 1px solid var(--clr-brdr);
    }
}

/**
 * 1. Add the correct display in all browsers.
 */

summary {
    display: list-item; /* 1 */
    position: relative;
    z-index: 2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    outline: 1px solid var(--clr-brdr);
    background-color: var(--clr-bkgd-box);
    cursor: pointer;

    &:hover,
    &:active {
        outline: 1px solid var(--clr-brdr-x-dark);
    }

    &:focus {
        outline: 1px solid var(--clr-link-focus);
    }
}

@include setup.dark-mode {
    summary {
        &:hover,
        &:active {
            outline: 1px solid var(--clr-brdr-x-lite);
        }
    }
}
