/* Disclosure boxes (summary/details)
   ========================================================================== */

/**
 * Example HTML:
 *
 * <details>
 *     <summary>Summary text</summary>
 *     <p>Detailed content.</p>
 * </details>
 */

details {
    > * {
        padding-right: 1em;
        padding-left: 1em;
    }

    &[open] {
        padding-bottom: 1px;
        outline: 1px solid var(--color-border);
    }
}

summary {
    position: relative;
    z-index: 2;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    outline: 1px solid var(--color-border);
    background-color: var(--color-background-box);
    cursor: pointer;

    &:hover,
    &:active {
        outline: 1px solid $color-border-extra-dark;
    }

    &:focus {
        outline: 1px solid var(--color-link-focus);
    }
}

@include dark-mode {
    summary {
        &:hover,
        &:active {
            outline: 1px solid $dark-color-border-extra-light;
        }
    }
}
