@use "../setup";

/* Embedded content
   ========================================================================== */

/*
* 1. There is no good reason for audio elements to default to 300px.
*/

audio {
    width: 100%; /* 1 */
    max-width: 100%;
}

/**
 * Make embedded elements responsive.
 */

img,
canvas,
svg,
video {
    max-width: 100%;
    height: auto;

    &.overstretch {
        width: 100%;
        max-width: none;
        margin-top: -1px; // Ensure wrapper 1px top padding 1px covered.
    }
}

/**
 * Default aspect ratio for videos (TODO: when browser support better).
 */

//video {
//    aspect-ratio: var(--aspect-ratio, 16 / 9);
//}

/**
 * Images.
 *
 * 1. Remove the gap between images and the bottom of their containers.
 *
 * Image alignment (compatible with Textile markup syntax).
 *
 * Example HTML:
 *
 * <img class="align-left">
 * <img class="align-right">
 * <img class="align-center">
 */

/* purgecss start ignore */

img {
    vertical-align: middle; /* 1 */

    &.align-left {
        margin: 1em 1em 1em 0;
        float: left;
    }

    &.align-inline-start {
        margin: 1em;
        margin-inline-start: 0;
        float: inline-start;
    }

    &.align-right {
        margin: 1em 0 1em 1em;
        float: right;
    }

    &.align-inline-end {
        margin: 1em;
        margin-inline-end: 0;
        float: inline-end;
    }

    &.align-center,
    &.align-inline-center {
        display: block;
        margin: 1em auto;
    }
}

/* purgecss end ignore */

/**
 * Rounded corner images.
 *
 * Example HTML:
 *
 * <img class="img--rounded">
 */

.img--rounded {
    border-radius: 1rem;
}

/**
 * Circular images.
 *
 * Example HTML:
 *
 * <img class="img--circular">
 */

.img--circular {
    border-radius: 50%;
}

/**
 * Consistent margins on `figure`.
 */

figure {
    margin: 1em 0;
}
