@use "../setup";

/* Fonts
   ========================================================================== */

/**
 * Sans Serif font.
 */

@if setup.$font-sans-serif-vf {
    @font-face {
        font-family: hive-framework-sans-serif-vf;
        font-style: normal;
        font-weight: setup.$font-sans-serif-vf-wght;
        font-display: swap;
        src: url("../fonts/source-sans-pro/SourceSans3VF-Roman.woff2") format("woff2-variations");
    }
}

@if setup.$font-sans-serif-vf-italic {
    @font-face {
        font-family: hive-framework-sans-serif-vf;
        font-style: italic;
        font-weight: setup.$font-sans-serif-vf-wght;
        font-display: swap;
        src: url("../fonts/source-sans-pro/SourceSans3VF-Italic.woff2") format("woff2-variations");
    }
}

//@font-face {
//    font-family: hive-framework-sans-serif;
//    font-style: normal;
//    font-weight: 200;
//    font-display: swap;
//    src: url("../fonts/source-sans-pro/SourceSans3-ExtraLight.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-ExtraLight.woff") format("woff");
//}

//@font-face {
//    font-family: hive-framework-sans-serif;
//    font-style: italic;
//    font-weight: 200;
//    font-display: swap;
//    src: url("../fonts/source-sans-pro/SourceSans3-ExtraLightIt.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-ExtraLightIt.woff") format("woff");
//}

//@font-face {
//    font-family: hive-framework-sans-serif;
//    font-style: normal;
//    font-weight: 300;
//    font-display: swap;
//    src: url("../fonts/source-sans-pro/SourceSans3-Light.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-Light.woff") format("woff");
//}

//@font-face {
//    font-family: hive-framework-sans-serif;
//    font-style: italic;
//    font-weight: 300;
//    font-display: swap;
//    src: url("../fonts/source-sans-pro/SourceSans3-LightIt.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-LightIt.woff") format("woff");
//}

@font-face {
    font-family: hive-framework-sans-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/source-sans-pro/SourceSans3-Regular.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-Regular.woff") format("woff");
}

@font-face {
    font-family: hive-framework-sans-serif;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/source-sans-pro/SourceSans3-It.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-It.woff") format("woff");
}

//@font-face {
//    font-family: hive-framework-sans-serif;
//    font-style: normal;
//    font-weight: 600;
//    font-display: swap;
//    src: url("../fonts/source-sans-pro/SourceSans3-Semibold.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-Semibold.woff") format("woff");
//}

//@font-face {
//    font-family: hive-framework-sans-serif;
//    font-style: italic;
//    font-weight: 600;
//    font-display: swap;
//    src: url("../fonts/source-sans-pro/SourceSans3-SemiboldIt.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-SemiboldIt.woff") format("woff");
//}

@font-face {
    font-family: hive-framework-sans-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/source-sans-pro/SourceSans3-Bold.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-Bold.woff") format("woff");
}

@font-face {
    font-family: hive-framework-sans-serif;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/source-sans-pro/SourceSans3-BoldIt.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-BoldIt.woff") format("woff");
}

//@font-face {
//    font-family: hive-framework-sans-serif;
//    font-style: normal;
//    font-weight: 900;
//    font-display: swap;
//    src: url("../fonts/source-sans-pro/SourceSans3-Black.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-Black.woff") format("woff");
//}

//@font-face {
//    font-family: hive-framework-sans-serif;
//    font-style: italic;
//    font-weight: 900;
//    font-display: swap;
//    src: url("../fonts/source-sans-pro/SourceSans3-BlackIt.woff2") format("woff2"), url("../fonts/source-sans-pro/SourceSans3-BlackIt.woff") format("woff");
//}

/**
 * Serif font.
 */

@if setup.$font-sans-serif-vf {
    @font-face {
        font-family: hive-framework-serif-vf;
        font-style: normal;
        font-weight: setup.$font-serif-vf-wght;
        font-display: swap;
        src: url("../fonts/source-serif-pro/SourceSerifVariable-Roman.woff2") format("woff2-variations");
    }
}

@if setup.$font-sans-serif-vf-italic {
    @font-face {
        font-family: hive-framework-serif-vf;
        font-style: italic;
        font-weight: setup.$font-serif-vf-wght;
        font-display: swap;
        src: url("../fonts/source-serif-pro/SourceSerifVariable-Italic.woff2") format("woff2-variations");
    }
}

//@font-face {
//    font-family: hive-framework-serif;
//    font-style: normal;
//    font-weight: 200;
//    font-display: swap;
//    src: url("../fonts/source-serif-pro/SourceSerifPro-ExtraLight.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-ExtraLight.woff") format("woff");
//}

//@font-face {
//    font-family: hive-framework-serif;
//    font-style: italic;
//    font-weight: 200;
//    font-display: swap;
//    src: url("../fonts/source-serif-pro/SourceSerifPro-ExtraLightIt.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-ExtraLightIt.woff") format("woff");
//}

//@font-face {
//    font-family: hive-framework-serif;
//    font-style: normal;
//    font-weight: 300;
//    font-display: swap;
//    src: url("../fonts/source-serif-pro/SourceSerifPro-Light.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-Light.woff") format("woff");
//}

//@font-face {
//    font-family: hive-framework-serif;
//    font-style: italic;
//    font-weight: 300;
//    font-display: swap;
//    src: url("../fonts/source-serif-pro/SourceSerifPro-LightIt.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-LightIt.woff") format("woff");
//}

@font-face {
    font-family: hive-framework-serif;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/source-serif-pro/SourceSerifPro-Regular.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-Regular.woff") format("woff");
}

@font-face {
    font-family: hive-framework-serif;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/source-serif-pro/SourceSerifPro-It.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-It.woff") format("woff");
}

//@font-face {
//    font-family: hive-framework-serif;
//    font-style: normal;
//    font-weight: 600;
//    font-display: swap;
//    src: url("../fonts/source-serif-pro/SourceSerifPro-Semibold.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-Semibold.woff") format("woff");
//}

//@font-face {
//    font-family: hive-framework-serif;
//    font-style: italic;
//    font-weight: 600;
//    font-display: swap;
//    src: url("../fonts/source-serif-pro/SourceSerifPro-SemiboldIt.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-SemiboldIt.woff") format("woff");
//}

@font-face {
    font-family: hive-framework-serif;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/source-serif-pro/SourceSerifPro-Bold.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-Bold.woff") format("woff");
}

@font-face {
    font-family: hive-framework-serif;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/source-serif-pro/SourceSerifPro-BoldIt.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-BoldIt.woff") format("woff");
}

//@font-face {
//    font-family: hive-framework-serif;
//    font-style: normal;
//    font-weight: 900;
//    font-display: swap;
//    src: url("../fonts/source-serif-pro/SourceSerifPro-Black.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-Black.woff") format("woff");
//}

//@font-face {
//    font-family: hive-framework-serif;
//    font-style: italic;
//    font-weight: 900;
//    font-display: swap;
//    src: url("../fonts/source-serif-pro/SourceSerifPro-BlackIt.woff2") format("woff2"), url("../fonts/source-serif-pro/SourceSerifPro-BlackIt.woff") format("woff");
//}
