/* Forms - input type file
   ========================================================================== */

[type="file"] {
    box-sizing: border-box;
    height: auto;
    min-height: 2em; // 32px / 16px
    padding: 0.25em 0.1875em; // 8px / 16px + 3px / 16px
    border: 1px solid $color-border;
    border-radius: 0;
    background: var(--color-background-form);
    appearance: none;
    cursor: pointer;

    &:hover {
        border-color: $color-border-extra-dark;
    }

    &:focus {
        border-color: var(--color-link-focus);
        outline: 2px solid transparent; // Allows for repainting in high contrast modes.
    }
}

@include dark-mode {
    [type="file"] {
        border-color: $dark-color-border-extra-dark;

        &:hover {
            border-color: $dark-color-border-extra-light;
        }
    }
}

::-webkit-file-upload-button {
    @include gradient-linear(var(--color-button-gradient-from), var(--color-button-gradient-to));

    padding: 0 0.25em;
    border: 0;
    color: var(--color-text-button);
    font: inherit;
    /* autoprefixer: off */
    appearance: none;
    cursor: pointer;
}
