@use "../setup";

/* Forms - input type file
   ========================================================================== */

[type="file"] {
    box-sizing: border-box;
    height: auto;
    min-height: 2em; // 32px / 16px
    padding: 0.25em 0.1875em; // 8px / 16px + 3px / 16px
    border: 1px solid var(--clr-brdr);

    @if setup.$border-radius-form {
        border-radius: setup.$border-radius-form;
    }

    background: var(--clr-bkgd-form);
    appearance: none;
    cursor: pointer;

    &:hover {
        border-color: var(--clr-brdr-x-dark);
    }

    &:focus {
        border-color: var(--clr-focus);
        outline: 2px solid transparent; // Allows for repainting in high contrast modes.
    }
}

@include setup.dark-mode {
    [type="file"] {
        border-color: var(--clr-brdr-x-dark);

        &:hover {
            border-color: var(--clr-brdr-x-lite);
        }

        &:focus {
            border-color: var(--clr-focus);
        }
    }
}

[type="file"]::-webkit-file-upload-button {
    @include setup.gradient-linear(var(--clr-btn-grad-from), var(--clr-btn-grad-to));

    padding: 0 0.25em;
    border: 0;
    color: var(--clr-btn-text);
    font: inherit;
    /* autoprefixer: off */
    appearance: none;
    cursor: pointer;
}

[type="file"]:hover::-webkit-file-upload-button {
    filter: brightness(1.05);
}

[type="file"]:active::-webkit-file-upload-button {
    filter: brightness(0.95);
}
