/* Forms - input type file
   ========================================================================== */

[type="file"] {
    height: auto;
    min-height: 2em; // 32px / 16px
    padding: 0.25em 0.1875em; // 8px / 16px + 3px / 16px
    border: 1px solid $color-border;
    border-radius: 0;
    background: $color-background-form;
    cursor: pointer;
    box-sizing: border-box;
    appearance: none;

    &:hover {
        border-color: $color-border-extra-dark;
    }

    &:focus {
        border-color: $color-link-focus;
        outline: 2px solid transparent; // Allows for repainting in high contrast modes.
    }
}

@include dark-mode {
    [type="file"] {
        border-color: $dark-color-border-extra-dark;
        background-color: $dark-color-background-form;

        &:hover {
            border-color: $dark-color-border-extra-light;
        }

        &:focus {
            border-color: $dark-color-link-focus;
        }
    }
}

::-webkit-file-upload-button {
    @include gradient-linear($color-button-gradient-from, $color-button-gradient-to);

    padding: 0 0.25em;
    border: 0;
    color: $color-text-button;
    font: inherit;
    cursor: pointer;
    /* autoprefixer: off */
    appearance: none;
}

::-ms-browse {
    @include gradient-linear($color-button-gradient-from, $color-button-gradient-to);

    padding: 0 0.25em;
    border: 0;
    color: $color-text-button;
    font-family: inherit;
    font-size: 1rem;
    font-weight: normal;
    line-height: inherit;
    cursor: pointer;
    /* autoprefixer: off */
    appearance: none;
}
