@use "../setup";

/* Forms
   ========================================================================== */

/**
 * 1. Address width being affected by wide descendants in Chrome, Firefox.
 * 2. Define consistent fieldset border, margin, and padding.
 */

fieldset {
    min-width: 0; /* 1 */
    margin: 1em 0; /* 2 */
    padding: 1px 1em; /* 2 */
    border: 1px solid var(--color-border-light); /* 2 */

    @if setup.$border-radius-form {
        border-radius: setup.$border-radius-form;
    }
}

/**
 * Normalize styling of `legend`.
 *
 * 1. Correct wrapping not present in Edge 12/13.
 * 2. Remove padding so people aren't caught out if they zero out field sets.
 */

legend {
    display: table; /* 1 */
    box-sizing: border-box; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 2 */
    white-space: normal; /* 1 */
}

/**
 * 1. Show the overflow in Edge.
 * 2. Remove tap delay in modern browsers.
 */

button,
input {
    overflow: visible;
    touch-action: manipulation;
}

/**
 * 1. Prevent elements from spilling out of their parent.
 * 2. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 3. Correct font properties not being inherited.
 */

button,
input,
select,
optgroup,
textarea,
a.button,
span.button {
    box-sizing: border-box;
    max-width: 100%;  /* 1 */
    margin: 0;  /* 2 */
    color: var(--color-text-form);
    font-family: var(--font-form);
    font-size: 1rem; /* 3 */
    line-height: 1.375; // 22px / 16px
    vertical-align: baseline;
}

@if setup.$font-stack-form-vf {
    @supports (font-variation-settings: normal) {
        button,
        input,
        select,
        optgroup,
        textarea,
        a.button,
        span.button {
            font-family: var(--font-form-vf);
        }
    }
}

/**
 * Styling of form input fields.
 *
 * 1. Remove browser-specific default styling.
 */

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
    height: 2em; // 32px / 16px
    padding: 0.25em 0.1875em; // 8px / 16px + 3px / 16px
    border: 1px solid var(--color-border);

    @if setup.$border-radius-form {
        border-radius: setup.$border-radius-form;
    }

    background: var(--color-background-form);
    appearance: none; /* 1 */

    &:hover {
        border-color: var(--color-border-extra-dark);
    }

    &:focus {
        border-color: var(--color-link-focus);
        outline: 2px solid transparent; // Allows for repainting in high contrast modes.
    }
}

@include setup.dark-mode {
    [type="color"],
    [type="date"],
    [type="datetime"],
    [type="datetime-local"],
    [type="email"],
    [type="month"],
    [type="number"],
    [type="password"],
    [type="search"],
    [type="tel"],
    [type="text"],
    [type="time"],
    [type="url"],
    [type="week"],
    select,
    textarea {
        border-color: var(--color-border-extra-dark);

        &:hover {
            border-color: var(--color-border-extra-light);
        }

        &:focus {
            border-color: var(--color-link-focus);
        }
    }
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    /* autoprefixer: off */
    appearance: none;
}

/**
 * Extra styling for search forms.
 */

.search-form input[type="search"] {
    padding-inline-start: 28px;
    background: var(--color-background-form) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='%23333'%3E%3Cpath d='M4,13c0-5,4-9,9-9s9,4,9,9s-4,9-9,9S4,18,4,13z M13,19c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S9.7,19,13,19z'/%3E%3Cpath d='M17.5,19l1.5-1.5l4.5,3L28,25c0,0,0,1.5-0.8,2.2S25,28,25,28l-4.5-4.5L17.5,19z'/%3E%3C/g%3E%3C/svg%3E") no-repeat left center;
    background-size: 28px 28px;
}

@include setup.dark-mode {
    .search-form input[type="search"] {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='%23ced4da'%3E%3Cpath d='M4,13c0-5,4-9,9-9s9,4,9,9s-4,9-9,9S4,18,4,13z M13,19c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S9.7,19,13,19z'/%3E%3Cpath d='M17.5,19l1.5-1.5l4.5,3L28,25c0,0,0,1.5-0.8,2.2S25,28,25,28l-4.5-4.5L17.5,19z'/%3E%3C/g%3E%3C/svg%3E");
    }
}

/**
 * Use indicator icon to signify the drop-down ability of `select`.
 */

select {
    padding-inline-end: 1.5em; // 24px / 16px
    background: var(--color-background-form) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpolygon fill='%23333' points='0,0 5,5 10,0'/%3E%3C/svg%3E") right center no-repeat;
    background-size: 1.0625em 0.3125em; // 17px / 16px, 5px / 16px
    text-transform: none;
}

@if setup.$internationalization {
    /**
     * Swap `select` icon position in RTL languages.
     */

    [dir="rtl"] {
        select {
            background-position: 0.5em center; // 8px / 16px
        }
    }
}

@include setup.dark-mode {
    select {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='5' viewBox='0 0 17 5'%3E%3Cpolygon fill='%23788591' points='0,0 5,5 10,0'/%3E%3C/svg%3E");
    }
}

/**
 * Override height and background set in a previous rule and allow auto height.
 */

select[size],
select[multiple] {
    height: auto;
    padding-inline-end: 0.1875em; // 3px / 16px
    background-image: none;
}

@include setup.dark-mode {
    select[size],
    select[multiple] {
        background-image: none;
    }
}

/**
 * Override height set in rule above and restrict to one line field.
 */

select[size="0"],
select[size="1"] {
    height: 2em; // 32px / 16px
}

/**
 * Normalize styling of `optgroup`.
 */

optgroup {
    font-style: normal;
    font-weight: 700;
}

/**
 * 1. Remove unwanted space below `textarea` in Safari, Chrome, Opera.
 * 2. Restrict to vertical resizing to prevent layout breakage.
 */

textarea {
    width: 100%;
    height: auto;
    min-height: 3em;
    vertical-align: top; /* 1 */
    resize: vertical; /* 2 */
}

/**
 * Width display options for `input` fields.
 *
 * Example HTML:
 *
 * <input class="small">
 * <input class="medium">
 * <input class="large">
 */

input {
    &.small {
        width: 33%;
    }

    &.medium {
        width: 66%;
    }

    &.large {
        width: 100%;
    }
}

/**
 * Styling for form field validation.
 */

input,
select,
textarea {
    &:focus:invalid {
        border-color: var(--color-error-text);
        box-shadow: none; // Normalize Firefox styling
    }
}

/**
 * Styling for Firefox-specific form field validation.
 */

input,
select,
textarea {
    &:-moz-ui-invalid {
        border-color: var(--color-error-text);
        box-shadow: none;
    }
}

/**
 * Normalize form placeholder style across browsers.
 *
 * 1. Fix placeholder font properties inheritance.
 */

::placeholder {
    opacity: 1;
    color: var(--color-text-form-placeholder);
    font: inherit; /* 1 */
}

/**
 * Styling for required field indicators.
 *
 * Example HTML:
 *
 * <b class="required" title="Required">*</b>
 * <abbr class="required" title="Required">●</abbr>
 */

b.required,
abbr.required {
    color: var(--color-warning-text);
    text-decoration: none;
}
