@use "../setup";

/* Forms - input type range
   ========================================================================== */

/**
 * 1. Correct background colour in Firefox.
 */

[type="range"] {
    width: 100%;
    max-width: 16em; // 256px / 16px
    background-color: transparent; /* 1 */
    vertical-align: baseline;
    appearance: none;

    &:focus {
        outline: 0;
    }
}

// WebKit/Blink.

[type="range"]::-webkit-slider-thumb {
    @include setup.gradient-linear(var(--clr-btn-grad-from), var(--clr-btn-grad-to));

    width: 1.25em; // 20px / 16px
    height: 1.25em; // 20px / 16px
    margin-top: -0.3125em; // 5px / 16px
    border: 1px solid var(--clr-brdr-dark);
    border-radius: 50%;
    box-shadow: var(--standard-shadow);
    appearance: none;
    cursor: pointer;
}

[type="range"]:hover::-webkit-slider-thumb {
    filter: brightness(1.05);
}

[type="range"]:active::-webkit-slider-thumb {
    filter: brightness(0.95);
}

[type="range"]:focus::-webkit-slider-thumb {
    border-color: var(--clr-link-focus);
}

[type="range"]::-webkit-slider-runnable-track {
    box-sizing: border-box;
    width: 100%;
    height: 0.75em; // 12px / 16px
    border: 1px solid var(--clr-brdr);
    background-color: var(--clr-bkgd-box);
    cursor: pointer;
}

[type="range"]:hover::-webkit-slider-runnable-track {
    border-color: var(--clr-brdr-x-dark);
}

[type="range"]:active::-webkit-slider-runnable-track,
[type="range"]:focus::-webkit-slider-runnable-track {
    border-color: var(--clr-link-focus);
}

@include setup.dark-mode {
    [type="range"]::-webkit-slider-runnable-track {
        border-color: var(--clr-brdr-x-dark);
    }

    [type="range"]:hover::-webkit-slider-runnable-track {
        border-color: var(--clr-brdr-x-lite);
    }

    [type="range"]:active::-webkit-slider-runnable-track,
    [type="range"]:focus::-webkit-slider-runnable-track {
        border-color: var(--clr-link-focus);
    }
}

// Gecko/Quantum.

[type="range"]::-moz-range-thumb {
    @include setup.gradient-linear(var(--clr-btn-grad-from), var(--clr-btn-grad-to));

    width: 1.25em; // 20px / 16px
    height: 1.25em; // 20px / 16px
    border: 1px solid var(--clr-brdr-dark);
    border-radius: 50%;
    box-shadow: var(--standard-shadow);
    /* autoprefixer: off */
    appearance: none;
    cursor: pointer;
}

[type="range"]:hover::-moz-range-thumb {
    filter: brightness(1.05);
}

[type="range"]:active::-moz-range-thumb {
    filter: brightness(0.95);
}

[type="range"]:focus::-moz-range-thumb {
    border-color: var(--clr-link-focus);
}

[type="range"]::-moz-range-track {
    box-sizing: border-box;
    width: 100%;
    height: 0.75em; // 12px / 16px
    border: 1px solid var(--clr-brdr);
    background-color: var(--clr-bkgd-box);
    cursor: pointer;
}

[type="range"]:hover::-moz-range-track {
    border-color: var(--clr-brdr-x-dark);
}

[type="range"]:focus::-moz-range-track {
    border-color: var(--clr-link-focus);
}

[type="range"]::-moz-focus-outer {
    border-style: none;
}

@include setup.dark-mode {
    [type="range"]::-moz-range-track {
        border-color: var(--clr-brdr-x-dark);
    }

    [type="range"]:hover::-moz-range-track {
        border-color: var(--clr-brdr-x-lite);
    }

    [type="range"]:focus::-moz-range-track {
        border-color: var(--clr-link-focus);
    }
}
