@use "../setup";

/* Support for non-latin languages
   ========================================================================== */

/**
 * Bidirectional (bidi) text support.
 * See: https://www.w3.org/International/articles/inline-bidi-markup/#cssshim
 */

[dir="ltr"],
[dir="rtl"] {
    unicode-bidi: isolate;
}

bdo[dir="ltr"],
bdo[dir="rtl"] {
    unicode-bidi: isolate-override;
}

/**
 * Swap menu/list padding positions in RTL languages.
 */

[dir="rtl"] {
    menu,
    ol,
    ul {
        padding: 0 2em 0 0;
    }
}

/**
 * Swap definition description margin positions in RTL languages.
 */

[dir="rtl"] dd {
    margin: 0 2em 0 0;
}

/**
 * Swap checkbox/radio margin positions in RTL languages.
 */

[dir="rtl"] {
    input[type="checkbox"],
    input[type="radio"] {
        + label {
            margin: 0 0 0 0.5em;

            &:last-of-type {
                margin: 0;
            }
        }
    }
}

/**
 * Swap `select` icon position in RTL languages.
 */

[dir="rtl"] {
    select {
        padding-right: 0.1875em; // 3px / 16px
        padding-left: 1.5em; // 24px / 16px
        background-position: 0.5em center; // 8px / 16px
    }
}

/**
 * Swap ‘skip links’ position in RTL languages.
 */

[dir="rtl"] .skip-link {
    right: 1px;
    left: auto;
}
