@use "../setup";

/* Clearfix
   ========================================================================== */

/**
 * Clearfix using the 'A new micro clearfix hack' method.
 */

header,
footer,
nav ul,
nav ol,
.clearfix,
.paginator {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Basic float clearer.
 */

.clear {
    clear: both;
}

/* Layout
   ========================================================================== */

/**
 * 1. Add some breathing space above page anchors.
 */

html {
    scroll-padding-top: 1rem; /* 1 */
}

/**
 * 1. Set `body` to `relative` to allow positioning of absolute elements.
 * 2. Remove default margin.
 */

body {
    position: relative; /* 1 */
    margin: 0; /* 2 */
    background: var(--color-background-box);
}

/**
 * Force blocks.
 */

.block {
    display: block;
}

/**
 * Force inline blocks.
 */

.inline-block {
    display: inline-block;
}

/**
 * Outer wrapper for main layouts.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <div class="container">
 *         Content
 *     </div>
 * </div>
 */

.wrapper {
    padding: 1px 0 1em;
    border-bottom: 2px solid var(--color-border);
    background: var(--color-background);
}

@include setup.dark-mode {
    .wrapper {
        border-bottom-color: var(--color-border-extra-dark);
    }
}

/**
 * Show/hide header on scroll.
 *
 * Example HTML:
 *
 * <div id="dynamic-header">
 *     <header>
 *     <nav>
 * </div>
 */

#dynamic-header {
    border-bottom: 2px solid var(--color-border);
    background: var(--color-background-box);

    .js & {
        position: sticky;
        z-index: 100;
        top: 0;
        right: 0;
        width: 100%;
    }
}

@include setup.dark-mode {
    #dynamic-header {
        border-bottom-color: var(--color-border-extra-dark);
    }
}

/**
 * Wrapper for layouts, and for site header/footer.
 *
 * Example HTML:
 *
 * <div class="wrapper">
 *     <div class="container">
 *         Content
 *     </div>
 * </div>
 */

.site-header,
.site-footer,
.container {
    width: 88%;
    max-width: setup.$container-max-width;
    margin: 0 auto;
}

/**
 * Additional styling for child content within site header.
 */

.site-header {
    padding: 1em 0;

    h2 {
        margin: 0;
    }

    h3 {
        margin: 0.5em 0 0; // 12px margin top
    }
}

/**
 * Additional styling for child content within site footer.
 */

.site-footer {
    padding: 0.5em 0;

    a {
        display: inline-block;
    }
}

/**
 * Site logo.
 *
 * Example HTML:
 *
 * <h2 class="site-logo">Sitename</h2>
 */

.site-logo {
    @include setup.hide-text;

    display: block;
    width: setup.$site-logo-width;
    height: setup.$site-logo-height;
    background: url("#{setup.$site-logo-file}") no-repeat center center;
    background-size: setup.$site-logo-width setup.$site-logo-height;
}

/**
 * Search form within site header.
 */

.site-navigation .search-form {
    width: 15em;
    margin: 0 6% 1em;
}

/**
 * Large search field on certain pages.
 */

.search-hero {
    text-align: center;

    input {
        margin: 0.5em 0;
        font-size: 1.25rem;
    }
}

/**
 * Prevent really, really long words in article from breaking layout.
 */

article {
    word-wrap: break-word;
}

/**
 * Extra pad above sections.
 */

.section {
    margin-top: 2em;
}

/**
 * Gallery layouts.
 *
 * 1. Images in galleries can expand past their original size.
 * 2. Add gaps between rows and vertically centre images.
 *
 * Example HTML:
 *
 * <div class="layout-container no-gaps gallery">
 *     <div class="layout-3col">
 *         <img>
 *     </div>
 *     <div class="layout-3col">
 *         <img>
 *     </div>
 *     <div class="layout-3col">
 *         <img>
 *     </div>
 * </div>
 *
 *<div class="layout-text3col gallery">
 *    <img>
 *    <img>
 *    <img>
 *    <img>
 *    <img>
 *    <img>
 *</div>
 */

.gallery img { /* 1 */
    width: 100%;
    max-width: initial;
}

.layout-container.gallery {
    align-items: center;

    &:not(.no-gaps) { /* 2 */
        gap: 2em;
    }
}

.layout-text2col.gallery,
.layout-text3col.gallery,
.layout-text4col.gallery {
    &.no-gaps {
        column-gap: 0;
    }

    &:not(.no-gaps) {
        margin-bottom: -2em;

        > * { /* 2 */
            margin-bottom: 2em;
        }
    }
}
