@use "../setup";

/* Links
   ========================================================================== */

/**
 * 1. Specify link colour.
 * 2. Remove default underline style from non-hover state links.
 * 3. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 * 4. Remove tap delay in modern browsers.
 * 5. Expanded CSS level 3 `text-decoration-color` property in supported
 *    browsers, older browsers ignore this addition.
 */

a {
    color: var(--clr-a); /* 1 */
    text-decoration: none; /* 2 */
    text-decoration-skip-ink: auto; /* 3 */
    text-underline-offset: 0.125em;
    touch-action: manipulation; /* 4 */

    &:hover,
    &:active {
        color: var(--clr-a-interact);
        text-decoration: underline;
        text-decoration-color: var(--clr-a-interact-a50);  /* 5 */
    }

    &:focus {
        outline: thin solid var(--clr-focus);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    a {
        color: var(--clr-text-promoted);

        &:hover,
        &:active {
            color: var(--clr-text-promoted);
            text-decoration-color: var(--clr-text-promoted-a50);  /* 5 */
        }
    }
}

/**
 * Images as links.
 *
 * Example HTML:
 *
 * <a class="a--img">
 *     <img>
 * </a>
 */

.a--img {
    img {
        box-sizing: border-box;
        border: solid 1px transparent;
    }

    &:hover img {
        border-color: var(--clr-a-interact);
    }

    &:focus {
        outline: 0;

        img {
            border-color: var(--clr-focus);
        }
    }
}

/**
 * Only target phone numbers you want clickable and stop mobile phones from
 * linking other numbers that look like, but are not phone numbers - use
 * attribute `itemprop="telephone"` to apply to the numbers you require linked
 * and styled.
 *
 * Example HTML:
 *
 * <a itemprop="telephone">
 */

a[href^="tel"],
a[href^="sms"] {
    color: var(--clr-text);
    cursor: default;
    pointer-events: none;

    [itemprop="telephone"] & {
        cursor: pointer;
        pointer-events: auto;
    }
}

/**
 * Visually hide unfocussed/inactive ‘skip links’.
 *
 * Example HTML:
 *
 * <a class="a--skip-link">
 */

.a--skip-link {
    position: absolute;
    z-index: 101;
    top: 1px;
    left: 1px;
    padding: 0.25em 0.5em;
    transform: translateY(-5em);
    transition: transform 0.25s ease-in-out;
    background-color: var(--clr-selecting);
    color: var(--clr-text);

    &:focus,
    &:active {
        transform: translateY(0);
    }
}

@if setup.$internationalization {
    /**
     * Swap ‘skip links’ position in RTL languages.
     */

    [dir="rtl"] .a--skip-link {
        right: 1px;
        left: auto;
    }
}
