/* Links
   ========================================================================== */

/**
 * 1. Remove potential background colour from active links.
 * 2. Specify link colour.
 * 3. Remove default underline style from non-hover state links.
 * 4. Interrupt the decoration line to let the shape of the text show through
 *    in supported browsers.
 */

a {
    background-color: transparent; /* 1 */
    color: $color-link; /* 2 */
    text-decoration: none; /* 3 */
    text-decoration-skip: ink edges; /* 4 */

    &:hover,
    &:active {
        outline-width: 0;
        color: $color-link-hover;
        text-decoration: underline;
    }

    &:focus {
        outline: thin dotted $color-link-focus;
    }

    &:visited {
        color: $color-link-visited;
    }
}

/**
 * Additional styling for child links within site header.
 */

.site-header a {
    border-radius: $border-radius / 4;
    color: $color-text;

    &:hover,
    &:active {
        background-color: darken($color-background-box, 6%);
    }
}

/**
 * Additional styling for `h1` heading links within `main`.
 */

main h1 a {
    border-radius: $border-radius / 4;
    color: $color-text;

    &:visited {
        color: $color-text;
    }

    &:hover,
    &:active {
        background-color: darken($color-background-box, 4%);
        color: $color-text;
        text-decoration: none;
    }
}

/**
 * Images as links.
 *
 * Example HTML:
 *
 * <a class="a--img">
 *     <img>
 * </a>
 */

.a--img {
    img {
        transition: box-shadow 0.1s linear;

    }

    &:focus {
        outline-width: 0;

        img {
            box-shadow: 0 0 4px 2px $color-link-focus;
        }
    }
}

/**
 * Only target phone numbers you want clickable and stop mobile phones from
 * linking other numbers that look like, but are not phone numbers - use
 * attribute `itemprop="telephone"` to apply to the numbers you require linked
 * and styled.
 *
 * Example HTML:
 *
 * <a itemprop="telephone">
 */

a[href^="tel"],
a[href^="sms"] {
    color: $color-text;
    cursor: default;
    pointer-events: none;

    [itemprop="telephone"] & {
        color: $color-link;
        cursor: pointer;
        pointer-events: auto;
    }
}
