@use "../setup";

/* Lists
   ========================================================================== */

/**
 * Address paddings set differently.
 */

menu,
ol,
ul {
    padding-inline-start: 2em;
}

/**
 * Remove margins from nested lists.
 */

li {
    > ul,
    > ol {
        margin: 0;
    }
}

/**
 * CSS Lists and Counters Module Level 3 list marker styling.
 */

li::marker {
    color: var(--clr-text-promoted);
}

/**
 * Address margins set differently.
 */

dd {
    margin-inline-start: 2em;
}

/**
 * Visually stronger definition terms.
 */

dt {
    color: var(--clr-text-promoted);
    font-weight: 700;
}

/**
 * Have a list with no bullets/numerals.
 *
 * Example HTML:
 *
 * <ul class="list--no-bullets">
 * <ol class="list--no-bullets">
 */

.list--no-bullets {
    padding: 0;
    list-style: none;
}

/**
 * Have a numbered `ul` without the semantics implied by using an `ol`.
 *
 * Example HTML:
 *
 * <ul class="list--numbered">
 */

.list--numbered {
    list-style-type: decimal;
}
