@use "../setup";

/* Meter
   ========================================================================== */

/**
 * 1. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

meter {
    box-sizing: border-box;
    height: 0.75em;
    overflow: hidden;
    border: 1px solid var(--clr-brdr);
    background: var(--clr-bkgd-box-subtle);
    vertical-align: -0.0625em;
    appearance: none;
}

@include setup.dark-mode {
    meter {
        border-color: var(--clr-brdr-x-dark);
    }
}

// WebKit/Blink.

meter::-webkit-meter-bar {
    background: var(--clr-bkgd-box-subtle);
}

meter::-webkit-meter-optimum-value {
    background: var(--clr-success-text);
}

meter::-webkit-meter-suboptimum-value {
    background: var(--clr-warning-text);
}

meter::-webkit-meter-even-less-good-value {
    background: var(--clr-error-text);
}

// Gecko/Quantum.

meter:-moz-meter-optimum::-moz-meter-bar {
    background: var(--clr-success-text);
}

meter:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--clr-warning-text);
}

meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--clr-error-text);
}
