/* Miscellenaeous
   ========================================================================== */

/**
 * AJAX spinners.
 *
 * Example HTML:
 *
 * <span class="spinner"></span>
 * <span class="spinner inverse"></span>
 */

span.spinner {
    @include hires-graphic(spinner, gif, 16px, 16px);

    display: inline-block;
    width: 16px;
    height: 16px;

    &.inverse {
        @include hires-graphic(spinner-inverse, gif, 16px, 16px);
    }
}

/**
 * Spin an element (`keyframes` appear in a separate Sass module).
 *
 * Example HTML:
 *
 * <span class="spin">Spinning!</span>
 */

.spin {
    @include animation(spinning 2s infinite linear);
}

/**
 * Hide text but still allow screen reader access.
 *
 * Example HTML:
 *
 * <p class="accessibility">
 */

.accessibility {
    position: absolute;
    left: -1000em;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
