/* Miscellenaeous
   ========================================================================== */

/**
 * AJAX spinners.
 *
 * Example HTML:
 *
 * <span class="spinner"></span>
 * <span class="spinner inverse"></span>
 */

span.spinner {
    @include hires-graphic(spinner, gif, 16px, 16px);

    display: inline-block;
    width: 16px;
    height: 16px;

    &.inverse {
        @include hires-graphic(spinner-inverse, gif, 16px, 16px);
    }
}

/**
 * Spin an element.
 *
 * Example HTML:
 *
 * <span class="spin">Spinning!</span>
 */

.spin {
    @include animation(spin 2s infinite linear);
}

@include keyframes(spin) {
    from {
        @include transform(rotate(0deg));
    }
    to {
        @include transform(rotate(360deg));
    }
}

/**
 * Hide text but still allow screen reader access.
 *
 * Example HTML:
 *
 * <h1 class="accessibility">
 */

.accessibility {
    position: absolute;
    left: -1000em;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
