@use "../setup";

/* Miscellenaeous
   ========================================================================== */

/**
 * Spin any element (`keyframes` appear in a separate Sass module).
 *
 * Example HTML:
 *
 * <span class="spin">Spinning!</span>
 */

.spin {
    animation: spinning linear 1s infinite;
}

/**
 * Hide text but still allow screen reader access.
 *
 * Example HTML:
 *
 * <p class="accessibility">
 */

.accessibility {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    white-space: nowrap;
}
