@use "../setup";

/* Navigation
   ========================================================================== */

/**
 * Style mobile first version of the navigation menu. Desktop version will
 * override some rules with extra styling in subsequent breakpoint.
 *
 * Example HTML:
 *
 * <nav id="site-navigation">
 *     <ul>
 *         <li class="active"><a></li>
 *         <li><a></li>
 *         <li><a></li>
 *     </ul>
 * </nav>
 */

#site-navigation {
    margin: 0 auto;

    .js & {
        display: block;
        max-height: 0;
        overflow: hidden;
        clip: rect(0 0 0 0); // TODO: Deprecated - use `clip-path` when browser support is better.
        //clip-path: inset(50%); // TODO: Currently causes severe performance issues in Chrome.
        transition: max-height 0.33s ease-in-out;
    }

    ul {
        margin: 0 0 0.75em;
        padding: 0;
        list-style: none;
        font-family: var(--font-serif);
        font-size: 1.125rem; // 18px / 16px
        font-variation-settings: "wght" 500; // older browsers will just ignore this
        font-weight: 400;
        line-height: 1.4444444; // 26px / 18px
    }

    li {
        padding: 1px 0;

        &:hover {
            background: hsla(0, 0%, 0%, 0.033);
        }
    }

    a {
        display: block;
        padding: 0.5em 6%;
        color: var(--clr-text-promoted);

        &:hover,
        &:visited {
            color: var(--clr-text-promoted);
            text-decoration: none;
        }

        &:active {
            text-decoration: none;
        }
    }

    li.active a {
        text-decoration: underline;
        text-decoration-color: var(--clr-text-demoted);
        text-underline-offset: 0.5rem;
    }

    &.site-navigation-open {
        max-height: 16em;
        transition: max-height 0.33s ease-in-out;
    }
}

@if setup.$font-stack-serif-vf {
    @supports (font-variation-settings: normal) {
        #site-navigation {
            font-family: var(--font-serif-vf);
        }
    }
}

@include setup.dark-mode {
    #site-navigation li:hover {
        background: hsla(0, 0%, 100%, 0.033);
    }
}

/**
 * Navigation toggle show/hide button for mobile first navigation.
 *
 * 1. Disables the default bubble shown when you touch and hold a touch target.
 *
 * Example HTML:
 *
 * <a id="site-navigation-toggle">
 */

#site-navigation-toggle {
    @include setup.hide-text;

    display: none;
    position: absolute;
    z-index: 102;
    top: 1.25rem;
    right: 6%;
    width: 32px;
    height: 32px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23333' d='M4 6h24v4H4zm0 8h24v4H4zm0 8h24v4H4z'/%3E%3C/svg%3E");
    background-size: 32px 32px;
    user-select: none;
    -webkit-touch-callout: none; /* 1 */

    .js & {
        display: block;
    }

    &:hover {
        background: hsla(0, 0%, 0%, 0.033);
    }

    &.site-navigation-toggle-active {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='%23333'%3E%3Cpath d='m6.1 23.1 17-17 2.8 2.8-17 17z'/%3E%3Cpath d='m8.9 6.1 17 17-2.8 2.8-17-17z'/%3E%3C/g%3E%3C/svg%3E");
    }

    &:focus {
        outline: 1px solid var(--clr-focus);
    }
}

@if setup.$internationalization {
    /**
     * Swap navigation toggle show/hide button position in RTL languages.
     */

    [dir="rtl"] #site-navigation-toggle {
        right: auto;
        left: 6%;
    }
}


@include setup.dark-mode {
    #site-navigation-toggle {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath fill='%23ced4da' d='M4 6h24v4H4zm0 8h24v4H4zm0 8h24v4H4z'/%3E%3C/svg%3E");

        &:hover {
            background: hsla(0, 0%, 100%, 0.033);
        }

        &.site-navigation-toggle-active {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cg fill='%23ced4da'%3E%3Cpath d='m6.1 23.1 17-17 2.8 2.8-17 17z'/%3E%3Cpath d='m8.9 6.1 17 17-2.8 2.8-17-17z'/%3E%3C/g%3E%3C/svg%3E");
        }
    }
}

/**
 * Light switch between Dark Mode/Light Mode manually.
 *
 * Example HTML:
 *
 * <a id="lightswitch">
 *     <span class="ui-icon ui-icon-medium ui-icon-lightbulb">Toggle light/dark mode</span>
 * </a>
 */

#lightswitch {
    position: absolute;
    z-index: 101;
    top: 1.25rem;
    right: 6%;
    height: 2rem;
    margin: 0 0.25em;
    margin-inline-end: 48px;
    border-radius: setup.$border-radius / 2;

    span {
        margin-top: 0.3125em;
        opacity: 1;
    }

    &:hover {
        background: hsla(0, 0%, 0%, 0.033);
    }
}

@include setup.dark-mode {
    #lightswitch:hover {
        background: hsla(0, 0%, 100%, 0.033);
    }
}

@if setup.$internationalization {
    /**
     * Swap light switch button position in RTL languages.
     */

    [dir="rtl"] #lightswitch {
        right: auto;
        left: 6%;
    }
}
