//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* browser upgrade message */
.browsehappy {
    margin: 0;
    padding: 1em 5%;
    background: $color-highlight-box;
}
