@use "../setup";

/* Pagination links
   ========================================================================== */

/**
 * Paginator (prev/next) navigation links on articles/article lists.
 *
 * Example HTML:
 *
 * <nav class="paginator">
 *     <a rel="prev">
 *     <a rel="next">
 */

.paginator {
    display: flex;
    justify-content: space-between;
    margin: 1em 0;
    padding-top: 1em;
    clear: both;
    border-top: 1px dashed var(--color-border);

    [rel="prev"]::before {
        content: "\2190" "\00A0";
    }

    [rel="next"]::after {
        content: "\00A0" "\2192";
    }
}

/**
 * Numerical pagination link lists.
 *
 * Example HTML:
 *
 * <ul class="pagination">
 *     <li class="current">
 *         <b title="Current page">1</b>
 *     </li>
 *     <li>
 *         <a title="Go to page 2">2</a>
 *     </li>
 *     <li>
 *         <a title="Go to page 3">3</a>
 *     </li>
 */

.pagination {
    flex-grow: 1;
    margin: 0 0.5em; // 8px / 16px
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;

        &.current b {
            text-decoration: underline;
            text-decoration-color: var(--color-text-footnote);
            text-underline-offset: 0.5rem;
        }
    }

    a,
    b {
        display: block;
        padding: 0 0.5em; // 8px / 16px
    }

    b {
        font-weight: 400;
        cursor: default;
    }
}
