@use "../setup";

/* ==========================================================================
   Styling and layout for screen media at 1st breakpoint
   ========================================================================== */

@media screen and (min-width: setup.$breakpoint-1) {

    /**
     * Screen size-specific elements.
     */

    .screen-small {
        display: none;
    }

    .screen-large {
        display: block; // TODO: use `display: revert` when browser support is widespread.
    }

    /**
     * Grid container.
     */

    .layout-container {
        display: flex; // Flexbox fallback for browsers without CSS Grid support.
        display: grid;
        gap: 0 2em;
        grid-template-columns: repeat(12, 1fr);
        flex-wrap: wrap; // Flexbox fallback for browsers without CSS Grid support.
        margin: 0 -1em; // Flexbox fallback for browsers without CSS Grid support.

        > * {
            box-sizing: border-box; // Flexbox fallback.
            min-width: 0; // Fix Firefox `pre` overflow issues.
            padding: 0 1em; // Flexbox fallback.
        }

        &.no-gaps {
            gap: 0;
            margin: 0;
            padding: 0;
        }
    }

    /**
     * Generate sizes all for grid column cells.
     *
     * We will then adjust them at various breakpoints.
     *
     * Example HTML:
     *
     * <div class="layout-1col"></div>
     *
     * <div class="layout-2col">
     * <div class="layout-2col">
     *
     * <div class="layout-4col-3span"></div>
     * <div class="layout-4col"></div>
     */

    .layout-1col,
    .layout-2col,
    .layout-3col,
    .layout-3col-2span,
    .layout-4col-alt,
    .layout-4col-2span,
    .layout-4col-3span {
        grid-column: span 12;
        width: 100%; // Flexbox fallback.
    }

    /**
     * Cells for 4 column layouts are generated, but as 2 columns at this width.
     */

    .layout-4col {
        grid-column: span 6;
        width: 50%; // Flexbox fallback.
    }

    // Override Flexbox fallback for browsers with CSS Grid support.
    @supports (display: grid) {
        .layout-container {
            margin: 0;
        }

        .layout-1col,
        .layout-2col,
        .layout-3col,
        .layout-3col-2span,
        .layout-4col,
        .layout-4col-alt,
        .layout-4col-2span,
        .layout-4col-3span {
            width: auto;
            padding: 0;
        }
    }

    /**
     * Allow two columns of text.
     */

    .layout-text2col,
    .layout-text3col,
    .layout-text4col {
        column-count: 2;
        column-gap: 2em;

        :first-child {
            margin-top: 0;
        }

        li {
            page-break-inside: avoid; // Fix Firefox bug.
            break-inside: avoid;
        }

        .footnote {
            display: inline-block;
        }
    }

    /**
     * Large search field on certain pages.
     */

    .search-hero input {
        font-size: 1.5rem;
    }

    /**
     * Separator reset.
     */

    .separator {
        visibility: initial;

        &::after {
            content: none;
        }
    }

    /**
     * Article layout revisions at breakpoint 1.
     */

    .article-description,
    .article-body,
    .article-comments {
        margin: 1em 6%;
    }

    .article-body pre {
        margin: 2rem -7%;
    }

    /**
     * Comment layout revisions at breakpoint 1.
     */

    #comments-form .layout-container {
        margin-bottom: -1rem;

        p {
            margin-top: 0;
        }
    }

    .list--comments {
        list-style: decimal;
    }
}


/* ==========================================================================
   Styling and layout for screen media at 2nd breakpoint
   ========================================================================== */

@media screen and (min-width: setup.$breakpoint-2) {

    /**
     * Cells for 2 column and 3 column layouts are generated.
     *
     * Example HTML:
     *
     * <div class="layout-3col"></div>
     * <div class="layout-3col-2span"></div>
     */

    .layout-2col {
        grid-column: span 6;
        width: 50%; // Flexbox fallback.
    }

    .layout-3col {
        grid-column: span 4;
        width: 33.333%; // Flexbox fallback.
    }

    .layout-3col-2span {
        grid-column: span 8;
        width: 66.666%; // Flexbox fallback.
    }

    // Override Flexbox fallback for browsers with CSS Grid support.
    @supports (display: grid) {
        .layout-2col,
        .layout-3col,
        .layout-3col-2span {
            width: auto;
        }
    }

    /**
     * Allow three columns of text.
     */

    .layout-text3col,
    .layout-text4col {
        column-count: 3;
    }

    #dynamic-header {
        display: flex;
        justify-content: space-between;
    }

    .site-header {
        width: auto;
        margin-inline-start: 6%;
        margin-inline-end: 1em;
    }

    .site-navigation {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        margin: 0.75em 0;
        margin-inline-start: 1em;
        margin-inline-end: 6%;

        .search-form {
            margin: 0.25em 0;
            margin-inline-start: 1.5em;
        }
    }

    /**
     * Navigation layout changes.
     */

    #site-navigation {
        margin: 0;

        .js & {
            max-height: none;
            overflow: visible;
        }

        ul {
            display: flex;
            margin: 0.25em 0;
        }

        li {
            margin-inline-start: 1px;
            padding: 0;
        }

        a {
            padding: 0.5em 1em;
        }
    }

    /**
     * Remove navigation toggle show/hide button for navigation.
     */

    #site-navigation-toggle,
    .js #site-navigation-toggle {
        display: none;
    }

    @if setup.$use-jquery-ui {
        /**
         * jQuery UI Tabs layout changes.
         */

        .ui-tabs:not(.ui-tabs-vertical) {
            .ui-tabs-nav {
                border-bottom: 0;

                li {
                    display: inline-block;
                    margin: 0;
                    border-bottom-width: 0;
                    border-radius: setup.$border-radius setup.$border-radius 0 0;
                    white-space: nowrap;

                    &.ui-tabs-active {
                        margin-bottom: -1px;
                        padding-bottom: 1px;
                    }
                }
            }

            .ui-tabs-panel {
                border-top-width: 1px;
            }
        }
    }

    /**
     * Switch between Dark Mode/Light Mode manually.
     */

    #lightswitch {
        display: block;
        position: static;
        margin-inline-start: 0.5em;
    }

    /**
     * Large search field on certain pages.
     */

    .search-hero input {
        font-size: 1.75rem;
    }

    /**
     * Larger `h1` headings.
     */

    h1 {
        font-size: 3rem; // 48px / 16px
        line-height: 1.1666667; // 56px / 48px
    }

    /**
     * Article layout revisions at breakpoint 2.
     */

    .article-description,
    .article-body,
    .article-comments {
        margin: 1em 12%;
    }

    .article-body pre {
        margin: 2rem -16%;
    }
}


/* ==========================================================================
   Styling and layout for screen media at 3rd (final) breakpoint
   ========================================================================== */

@media screen and (min-width: setup.$breakpoint-3) {

    /**
     * Adjust baseline.
     */

    html,
    h6,
    pre,
    code,
    kbd,
    samp,
    small,
    figcaption,
    tfoot,
    .footnote,
    .ui-helper-reset,
    .ui-selectmenu-optgroup {
        line-height: setup.$line-height-desktop;
    }

    /**
     * Cells for 4 column layouts are generated.
     *
     * Example HTML:
     *
     * <div class="layout-4col-3span"></div>
     * <div class="layout-4col-alt"></div>
     */

    .layout-4col,
    .layout-4col-alt {
        grid-column: span 3;
        width: 25%; // Flexbox fallback.
    }

    .layout-4col-2span {
        grid-column: span 6;
        width: 50%; // Flexbox fallback.
    }

    .layout-4col-3span {
        grid-column: span 9;
        width: 73%; // Flexbox fallback.
    }

    // Override Flexbox fallback for browsers with CSS Grid support.
    @supports (display: grid) {
        .layout-4col,
        .layout-4col-alt,
        .layout-4col-2span,
        .layout-4col-3span {
            width: auto;
        }
    }

    /**
     * Allow four columns of text.
     */

    .layout-text4col {
        column-count: 4;
    }

    /**
     * Larger `h1` headings.
     */

    h1 {
        font-size: 4rem; // 64px / 16px
        line-height: 1.15625; // 74px / 48px
    }

    /**
     * Article layout revisions at breakpoint 3.
     */

    .article-header h1 {
        font-size: 4rem; // 60px / 16px
    }

    .article-description,
    .article-body,
    .article-comments {
        margin: 1em 18%;
    }

    .article-body pre {
        margin: 2rem -28.5%;
    }
}
