/* ==========================================================================
   Styling and layout for screen media at 1st breakpoint
   ========================================================================== */

@media screen and (min-width: $breakpoint-1) {

    /**
     * Screen size-specific elements.
     */

    .screen-small {
        display: none;
    }

    .screen-large {
        display: block; // TODO: use `display: revert` when browser support is widespread.
    }

    /**
     * Grid container.
     */

    .layout-container {
        display: flex; // Flexbox fallback for browsers without CSS Grid support.
        display: grid;
        flex-wrap: wrap; // Flexbox fallback for browsers without CSS Grid support.
        margin: 0 -1em; // Flexbox fallback for browsers without CSS Grid support.
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 0 2em;

        > * {
            min-width: 0; // Fix Firefox `pre` overflow issues.
            padding: 0 1em; // Flexbox fallback.
            box-sizing: border-box; // Flexbox fallback.
        }
    }

    /**
     * Generate sizes all for grid column cells.
     *
     * We will then adjust them at various breakpoints.
     *
     * Example HTML:
     *
     * <div class="layout-1col"></div>
     *
     * <div class="layout-2col">
     * <div class="layout-2col">
     *
     * <div class="layout-4col-3span"></div>
     * <div class="layout-4col"></div>
     */

    .layout-1col,
    .layout-2col,
    .layout-3col,
    .layout-3col-2span,
    .layout-4col-alt,
    .layout-4col-2span,
    .layout-4col-3span {
        width: 100%; // Flexbox fallback.
        grid-column: span 12;
    }

    /**
     * Cells for 4 column layouts are generated, but as 2 columns at this width.
     */

    .layout-4col {
        width: 50%; // Flexbox fallback.
        grid-column: span 6;
    }

    // Override Flexbox fallback for browsers with CSS Grid support.
    @supports (display: grid) {
        .layout-container {
            margin: 0;
        }

        .layout-1col,
        .layout-2col,
        .layout-3col,
        .layout-3col-2span,
        .layout-4col,
        .layout-4col-alt,
        .layout-4col-2span,
        .layout-4col-3span {
            width: auto;
            padding: 0;
        }
    }

    /**
     * Allow two columns of text.
     */

    .layout-text2col,
    .layout-text3col,
    .layout-text4col {
        column-gap: 2em;
        column-count: 2;

        :first-child {
            margin-top: 0;
        }

        li {
            page-break-inside: avoid; // Fix Firefox bug.
            break-inside: avoid;
        }

        .footnote {
            display: inline-block;
        }
    }

}


/* ==========================================================================
   Styling and layout for screen media at 2nd breakpoint
   ========================================================================== */

@media screen and (min-width: $breakpoint-2) {

    /**
     * Cells for 2 column and 3 column layouts are generated.
     *
     * Example HTML:
     *
     * <div class="layout-3col"></div>
     * <div class="layout-3col-2span"></div>
     */

    .layout-2col {
        width: 50%; // Flexbox fallback.
        grid-column: span 6;
    }

    .layout-3col {
        width: 33.333%; // Flexbox fallback.
        grid-column: span 4;
    }

    .layout-3col-2span {
        width: 66.666%; // Flexbox fallback.
        grid-column: span 8;
    }

    // Override Flexbox fallback for browsers with CSS Grid support.
    @supports (display: grid) {
        .layout-2col,
        .layout-3col,
        .layout-3col-2span {
            width: auto;
        }
    }

    /**
     * Allow three columns of text.
     */

    .layout-text3col,
    .layout-text4col {
        column-count: 3;
    }

    /**
     * Navigation layout changes.
     */

    #site-navigation {
        border-top: 1px solid $color-border;

        .js & {
            max-height: none;
        }

        ul {
            width: 88%;
        }

        li {
            float: left;
            border-top: 0;
            border-right: solid 1px $color-border;

            &:first-child {
                border-left: solid 1px $color-border;
            }
        }

        a {
            padding: 0.5em 1em;
        }
    }

    @media (prefers-color-scheme: dark) {
        #site-navigation {
            border-top-color: shade($dark-color-background-form, 15%);

            li {
                border-right-color: shade($dark-color-background-form, 15%);

                &:first-child {
                    border-left-color: shade($dark-color-background-form, 15%);
                }
            }
        }
    }

    /**
     * Remove navigation toggle show/hide button for navigation.
     */

    #site-navigation-toggle {
        display: none;
    }

    /**
     * jQuery UI Tabs layout changes.
     */

    .ui-tabs:not(.ui-tabs-vertical) {
        .ui-tabs-nav {
            border-bottom: 0;

            li {
                display: inline-block;
                margin: 0;
                border-bottom-width: 0;
                border-radius: $border-radius $border-radius 0 0;
                white-space: nowrap;

                &.ui-tabs-active {
                    margin-bottom: -1px;
                    padding-bottom: 1px;
                }
            }
        }

        .ui-tabs-panel {
            border-top-width: 1px;
        }
    }

}


/* ==========================================================================
   Styling and layout for screen media at 3rd (final) breakpoint
   ========================================================================== */

@media screen and (min-width: $breakpoint-3) {

    /**
     * Adjust baseline.
     */

    html,
    h6,
    pre,
    code,
    kbd,
    samp,
    small,
    figcaption,
    tfoot,
    .footnote,
    .ui-helper-reset,
    .ui-selectmenu-optgroup {
        line-height: $line-height-desktop;
    }

    /**
     * Cells for 4 column layouts are generated.
     *
     * Example HTML:
     *
     * <div class="layout-4col-3span"></div>
     * <div class="layout-4col-alt"></div>
     */

    .layout-4col,
    .layout-4col-alt {
        width: 25%; // Flexbox fallback.
        grid-column: span 3;
    }

    .layout-4col-2span {
        width: 50%; // Flexbox fallback.
        grid-column: span 6;
    }

    .layout-4col-3span {
        width: 73%; // Flexbox fallback.
        grid-column: span 9;
    }

    // Override Flexbox fallback for browsers with CSS Grid support.
    @supports (display: grid) {
        .layout-4col,
        .layout-4col-alt,
        .layout-4col-2span,
        .layout-4col-3span {
            width: auto;
        }
    }

    /**
     * Allow four columns of text.
     */

    .layout-text4col {
        column-count: 4;
    }

}
