/* Slider/carousel (via Slick)
   ========================================================================== */

/*
 * Slider base layout.
 */

.slick-slider {
    display: block;
    position: relative;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.slick-list {
    display: block;
    position: relative;
    overflow: hidden;

    &.dragging {
        cursor: pointer;
    }
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    transform: translate3d(0, 0, 0);
}

.slick-track {
    display: block;
    position: relative;
    top: 0;
    left: 0;

    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}

.slick-slide {
    display: none;
    height: 100%;
    min-height: 1px;
    float: left;

    //[dir="rtl"] & {
    //    float: right;
    //}

    &:focus {
        outline: 0;
    }

    img {
        display: block;
    }

    &.slick-loading img {
        display: none;
    }

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

.slick-arrow.slick-hidden {
    display: none;
}

/*
 * Slider loading spinner.
 */

.slick-list {
    .slick-loading & {
        @include hires-graphic(spinner, gif, 16px, 16px);

        background-color: #ffffff;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

/*
 * Slider icons.
 */

@font-face {
    font-family: "slick";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/slick.woff") format("woff");
}

/*
 * Slider arrows.
 */

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;
    transform: translate(0, -50%);
    border: 0;
    background: transparent;
    color: transparent;
    font-size: 0;
    line-height: 0;
    cursor: pointer;

    &:before {
        color: $color-text;
        font-family: "slick";
        font-size: 20px;
        line-height: 1;
        opacity: 0.75;
    }

    &.slick-disabled:before {
        opacity: 0.25;
    }

    &:hover,
    &:active,
    &:focus {
        background: transparent;
        color: transparent;

        &:before {
            opacity: 1;
        }
    }
}

.slick-prev {
    left: -24px;

    //[dir="rtl"] & {
    //    right: -25px;
    //    left: auto;
    //}

    &:before {
        content: "\2190";

        //[dir="rtl"] & {
        //    content: "\2192";
        //}
    }
}

.slick-next {
    right: -24px;

    //[dir="rtl"] & {
    //    right: auto;
    //    left: -25px;
    //}

    &:before {
        content: "\2192";

        //[dir="rtl"] & {
        //    content: "\2190";
        //}
    }
}

/*
 * Slider paginator dots.
 */

.slick-dots {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;
        width: 24px;
        height: 24px;
        cursor: pointer;

        button {
            position: relative;
            width: 24px;
            height: 24px;
            padding: 0;
            border: 0;
            background: transparent;
            color: transparent;
            font-size: 0;
            line-height: 0;
            cursor: pointer;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                width: 24px;
                height: 24px;
                color: $color-text;
                font-family: "slick";
                font-size: 8px;
                line-height: 24px;
                text-align: center;
                content: "\2022";
                opacity: 0.5;
            }

            &:hover,
            &:active,
            &:focus {
                &:before {
                    opacity: 1;
                }
            }
        }

        &.slick-active button {
            &:before {
                opacity: 0.75;
            }

            &:hover,
            &:active,
            &:focus {
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}
