/* Responsive slides (via ResponsiveSlides.js)
   ========================================================================== */

/**
 * Slideshow parent container.
 *
 * Example HTML:
 *
 * <div class="rslides-container">
 *     <ul class="rslides">
 *         <li><img></li>
 *         <li><img></li>
 */

.rslides-container {
    position: relative;
    margin: 0 0 1em;
    border: solid 1px $color-border;
    border-radius: $default-border-radius;
    padding: 0.375em;
    background: $color-background;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/**
 * Slideshow slides child container.
 *
 * Example HTML:
 *
 * <div class="rslides-container">
 *     <ul class="rslides">
 *         <li><img></li>
 *         <li><img></li>
 */

.rslides {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

    li {
        -webkit-backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        display: none;
        width: 100%;
    }

    img {
        float: left;
    }
}

/**
 * Slideshow navigator arrows.
 */

a.rslides_nav {
    padding: 0.25em;
    font-family: $font-sans-serif;
    line-height: 1;

    &.prev {
        float: left;
    }

    &.next {
        float: right;
    }

    &:hover {
        text-decoration: none;
    }
}

/**
 * Slideshow position indicator tabs.
 */

.rslides_tabs {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 1;

    li {
        display: inline-block;
        margin: 0.375em 0.25em 0;
    }

    a {
        @include adjust-font-size-to(12px, 0.75);
        @include hide-text;

        display: block;
        border: 1px solid $color-border;
        border-radius: 50%;
        width: 1em;  // 12px
        height: 1em; // 12px
        background: $color-background;

        &:hover {
            border-color: $color-link-hover;
        }
    }
}

/**
 * Highlight the position indicator tab of currently active slide.
 */

.rslides_here a {
    background: #e3e3e3;
}
