//
// note: this file is for use with Sass and Compass - http://sass-lang.com, http://compass-style.org
// don't use it as your live site stylesheet!
//


/* Social media
   ========================================================================== */

.social-channels {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
    }

    a {
        @include hide-text;

        display: block;
        width: 32px;
        height: 32px;

        &.facebook {
            @include svg-graphic(facebook, png, 32px, 32px);
        }

        &.flickr {
            @include svg-graphic(flickr, png, 32px, 32px);
        }

        &.googleplus {
            @include svg-graphic(googleplus, png, 32px, 32px);
        }

        &.linkedin {
            @include svg-graphic(linkedin, png, 32px, 32px);
        }

        &.pinterest {
            @include svg-graphic(pinterest, png, 32px, 32px);
        }

        &.twitter {
            @include svg-graphic(twitter, png, 32px, 32px);
        }

        &.youtube {
            @include svg-graphic(youtube, png, 32px, 32px);
        }

        &:hover {
            @include hover-brightness;
        }
    }
}

.facebook-like {
    border: 0;
    width: 108px;
    height: 20px;
    overflow: hidden;
}
