/* Social media
   ========================================================================== */

.social-channels {
    list-style: none;
    padding: 0;

    li {
        display: inline-block;
        margin-right: 0.5em;
    }

    a {
        @include hide-text;

        display: block;
        width: 32px;
        height: 32px;
        background-size: 32px 32px;

        &.facebook {
            background-image: url("../img/facebook.svg");
        }

        &.flickr {
            background-image: url("../img/flickr.svg");
        }

        &.googleplus {
            background-image: url("../img/googleplus.svg");
        }

        &.linkedin {
            background-image: url("../img/linkedin.svg");
        }

        &.pinterest {
            background-image: url("../img/pinterest.svg");
        }

        &.twitter {
            background-image: url("../img/twitter.svg");
        }

        &.youtube {
            background-image: url("../img/youtube.svg");
        }

        //&:hover {
            //@include filter(brightness(1.1));
        //}
    }
}

.facebook-like {
    border: 0;
    width: 108px;
    height: 20px;
    overflow: hidden;
}
