@use "../setup";

/* Tables
   ========================================================================== */

/* purgecss start ignore */

/**
 * Allow overflow scroll on tables.
 *
 * Example HTML:
 *
 * <div class="tabular-data">
 *     <table></table>
 * </div>
 */

.tabular-data {
    margin-bottom: 1em;
    overflow-x: auto;

    &:focus {
        outline: thin solid var(--clr-focus);
    }
}

/**
 * Consistent tables.
 */

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

/**
 * Styling of table captions.
 */

caption {
    margin-bottom: 0.5em;
    font-style: italic;
    text-align: start;
}

/**
 * Make table cells align top and left by default.
 */

th,
td {
    padding: 0.25em 0;
    vertical-align: top;
    text-align: start;
}

/**
 * Remove padding from top cells of table header.
 */

thead tr:first-child {
    th,
    td {
        padding-top: 0;
    }
}

/**
 * Adjust padding of table footer due to smaller font size.
 */

tfoot {
    th,
    td {
        padding: 0.3333333em 0;
    }

    tr:last-child {
        th,
        td {
            padding-bottom: 0;
        }
    }
}

/**
 * Multi-row span vertical cell alignments.
 */

[rowspan] {
    vertical-align: middle;
}

/**
 * Range values right in numerical cells.
 *
 * Example HTML:
 *
 * <tr>
 *     <td></td>
 *     <td></td>
 *     <td class="numerical"></td>
 * </tr>
 */

.numerical {
    text-align: end;
}

/**
 * Bordered tables.
 *
 * Example HTML:
 *
 * <table class="table--bordered">
 */

.table--bordered {
    th,
    td {
        padding: 0.25em;
        border-bottom: 1px solid var(--clr-brdr);

        &:empty {
            border: 0;
        }
    }

    thead tr:last-child {
        th,
        td {
            border-bottom-width: 2px;
        }
    }

    tfoot {
        th,
        td {
            padding: 0.3333333em;
        }

        tr:last-child {
            th,
            td {
                border-bottom: 0;
            }
        }
    }

    tbody tr:first-child {
        td,
        th {
            border-top: 1px solid var(--clr-brdr);
        }
    }
}

/**
 * Set widths of `col` elements using classes whose numbers represent a percentage
 * width for that column - we leave one column free of a class so that column can
 * soak up the effects of any accidental breakage in the table.
 *
 * Example HTML:
 *
 * <table>
 *     <colgroup>
 *         <col class="t10">
 *         <col class="t10">
 *         <col class="t10">
 *         <col>
 *     </colgroup>
 */
$col-widths: (
    5: 5%,
    10: 10%,
    12: 12.5%,
    15: 15%,
    20: 20%,
    25: 25%,
    30: 30%,
    33: 33.3333333%,
    35: 35%,
    37: 37.5%,
    40: 40%,
    45: 45%,
    50: 50%,
    55: 55%,
    60: 60%,
    62: 62.5%,
    65: 65%,
    66: 66.6666667%,
    70: 70%,
    75: 75%,
    80: 80%,
    85: 85%,
    87: 87.5%,
    90: 90%,
    95: 95%
);

@each $name, $value in $col-widths {
    .t#{$name} {
        width: $value;
    }
}

/* purgecss end ignore */
