@use "../setup";

/* purgecss start ignore */

/* Typography helpers
   ========================================================================== */

/**
 * Forced uppercase text.
 */

.text-uppercase {
    text-transform: uppercase;
}

/**
 * Forced (non-semantic) text weight regular.
 */

.fw-normal {
    font-variation-settings: "wght" 400; // older browsers will just ignore this
    font-weight: 400; // to prevent faux bolding of variable font
}

/**
 * Forced (non-semantic) text weight bold.
 */

.fw-bold {
    font-variation-settings: "wght" 680; // older browsers will just ignore this
    font-weight: 700; // to prevent faux bolding of variable font
}

/**
 * User-defined leading (inspired by Twitter Bootstrap).
 */
$line-heights: (
    1: 1,
    sm: 1.375,
    lg: 1.75,
    2: 2
);

@each $name, $value in $line-heights {
    .lh-#{$name} {
        line-height: $value;
    }
}

/**
 * Overflow text with ellipsis.
 *
 * Example HTML:
 *
 * <p class="ellipsis">
 *
 * <ul class="ellipsis">
 *     <li></li>
 */

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;

    li {
        overflow: inherit;
        text-overflow: inherit;
    }
}

/* purgecss end ignore */
