@use "../setup";

/* Typography helpers
   ========================================================================== */

/**
 * Forced uppercase text.
 */

.text-uppercase {
    text-transform: uppercase;
}

/**
 * Forced (non-semantic) text weight regular.
 */

.font-weight-normal {
    font-variation-settings: "wght" 400; // older browsers will just ignore this
    font-weight: 400; // to prevent faux bolding of variable font
}

/**
 * Forced (non-semantic) text weight bold.
 */

.font-weight-bold {
    font-variation-settings: "wght" 680; // older browsers will just ignore this
    font-weight: 700; // to prevent faux bolding of variable font
}

/**
 * User-defined leading (inspired by Twitter Bootstrap).
 */

.lh-1 {
    line-height: 1;
}

.lh-sm {
    line-height: 1.375;
}

.lh-lg {
    line-height: 1.75;
}

.lh-2 {
    line-height: 2;
}

/**
 * Overflow text with ellipsis.
 *
 * Example HTML:
 *
 * <p class="ellipsis">
 *
 * <ul class="ellipsis">
 *     <li></li>
 */

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;

    li {
        overflow: inherit;
        text-overflow: inherit;
    }
}
