/* Typography
   ========================================================================== */

/**
 * Global font size and leading.
 */

@include establish-baseline;

/**
 * Global font and text colour.
 */

body {
    font-family: $font-serif;
    color: $color-text;
}

/**
 * Harmonise size, style and vertical margin of headings.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: $font-sans-serif;
}

h1 {
    @include adjust-font-size-to(38px, 1.875); // 45px line height

    margin: 0.6315789em 0; // 24px / 38px
}

h2 {
    @include adjust-font-size-to(30px, 1.5833333); // 38px line height

    margin: 0.8em 0; // 24px / 30px
}

h3 {
    @include adjust-font-size-to(24px, 1.3333333); // 32px line height

    margin: 1em 0; // 24px
}

h4 {
    @include adjust-font-size-to(20px, 1.1666667); // 28px line height

    margin: 1em 0; // 20px
}

h5 {
    @include adjust-font-size-to(18px, 1.08); // 26px line height

    margin: 1em 0; // 18px
}

h6 {
    @include adjust-font-size-to(16px, 1);

    margin: 1em 0; // 16px
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
    font-weight: bold;
}

/**
 * Add vertical margin to addresses.
 */

address {
    margin: 1em 0;
}

/**
 * Additional styling for blockquotes.
 */

blockquote {
    @include adjust-font-size-to(20px, 1.1666667);

    font-style: italic;
    margin: 0.8em 0; // 16px / 20px
    text-align: center;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title],
dfn[title] {
    border-bottom: dotted 1px;
    cursor: help;
}

/**
 * Address styling not present in IE 8/9.
 */

mark,
var {
    @include border-radius($default-border-radius / 2);

    padding: 0 0.25em; // 0 4px
    color: $color-text;
    background: $color-selected;
}

/**
 * Harmonise size and style of computer text.
 */

pre,
code,
kbd,
samp {
    color: $color-text;
    font-family: $font-mono;
}

code,
kbd,
samp {
    @include adjust-font-size-to(14px, 0.875);
    @include border-radius(0.2857143em); // 4px / 14px

    border: 1px solid lighten($color-border, 9%);
    padding: 1px 0.2142857em; // 3px / 14px
    background: $color-background-box;
}

/**
 * Additional stylng for preformatted text/code.
 *
 * 1. Don't wrap long words.
 * 2. Contain overflow in all browsers.
 * 3. Set tab size to 4 spaces.
 */

pre {
    @include adjust-font-size-to(14px, 0.875);
    @include border-radius(0.2857143em); // 4px / 14px

    word-wrap: normal; /* 1 */
    overflow-x: auto; /* 2 */
    border: 1px solid lighten($color-border, 9%);
    padding: 0.5714286em 1.1428571em; // 8px / 14px + 16px / 14px
    background: $color-background-box;
    tab-size: 4; /* 3 */

    code {
        font-size: 1em; // 14px
        border: 0;
        padding: 0;
        background: none;
    }
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup.footnote, // override Textile class
sup {
    @include adjust-font-size-to(10px, 0);

    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/**
 * Harmonise size and style of small text.
 */

small,
figcaption,
tfoot,
.footnote {
    @include adjust-font-size-to(12px, 0.75);
}

figcaption,
tfoot,
.footnote {
    color: $color-text-footnote;
}

figcaption {
    margin: 0.5em 0;
    font-style: italic;
}
