@use "../setup";

/* Typography
   ========================================================================== */

/**
 * Establish baseline.
 *
 * 1. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    font-size: setup.$base-font-size;
    line-height: setup.$base-line-height;
    text-size-adjust: 100%; /* 1 */
}

@if setup.$internationalization {
    /**
     * Bidirectional (bidi) text support for non-latin languages.
     * See: https://www.w3.org/International/articles/inline-bidi-markup/#cssshim
     */

    [dir="ltr"],
    [dir="rtl"] {
        unicode-bidi: isolate;
    }

    bdo[dir="ltr"],
    bdo[dir="rtl"] {
        unicode-bidi: isolate-override;
    }
}

/**
 * Global font and text colour.
 *
 * 1. Enable font ligatures globally, where supported by OpenType fonts.
 */

body {
    color: var(--color-text);
    font-family: var(--font-sans-serif);
    font-feature-settings: "liga"; /* 1 */
    font-variation-settings: "wght" 400; // older browsers will just ignore this
    font-weight: 400; // to prevent faux bolding of variable font
}

@if setup.$font-stack-form-vf {
    @supports (font-variation-settings: normal) {
        body {
            font-family: var(--font-form-vf);
        }
    }
}

/**
 * Harmonize size, style and vertical margins of headings.
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    color: var(--color-text-heading);
    font-family: var(--font-serif);

    @if setup.$font-stack-serif-vf {
        font-variation-settings: "wght" 680; // older browsers will just ignore this
    }

    font-weight: 700; // to prevent faux bolding of variable font
}

@if setup.$font-stack-serif-vf {
    @supports (font-variation-settings: normal) {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: var(--font-serif-vf);
        }
    }
}

h1 {
    margin: 0.5em 0;
    font-size: 2.5rem; // 40px / 16px
    line-height: 1.2; // 48px / 40px

    sup {
        top: -1.25em;
        font-size: 1.25rem;
    }
}

h2 {
    margin: 0.75em 0; // 24px / 32px
    font-size: 2rem; // 32px / 16px
    line-height: 1.25; // 40px / 32px

    sup {
        top: -1em;
        font-size: 1rem;
    }
}

h3 {
    margin: 1em 0; // 24px
    font-size: 1.5rem; // 24px / 16px
    line-height: 1.3333333; // 32px / 24px
}

h4 {
    margin: 1em 0; // 20px
    font-size: 1.25rem; // 20px / 16px
    line-height: 1.4; // 28px / 20px
}

h5 {
    margin: 1em 0; // 18px
    font-size: 1.125rem; // 18px / 16px
    line-height: 1.4444444; // 26px / 18px
}

h6 {
    margin: 1em 0; // 16px
    font-size: 1rem; // 16px
}

/**
 * Add the correct font weight.
 */

b,
strong {
    font-variation-settings: "wght" 700; // older browsers will just ignore this
    font-weight: 700; // to prevent faux bolding of variable font
}

/**
 * Add vertical margin to addresses.
 */

address {
    margin: 1em 0;
}

/**
 * Additional styling for block quotes.
 */

blockquote {
    margin: 0.75em 10%; // 18px / 24px
    color: var(--color-text-heading);
    font-family: var(--font-serif);
    font-size: 1.5rem; // 24px / 16px
    font-style: italic;

    @if setup.$font-stack-serif-vf {
        font-variation-settings: "wght" 400; // older browsers will just ignore this
    }

    font-weight: 400; // to prevent faux bolding of variable font
    line-height: 1.3333333; // 32px / 24px
    text-align: center;

    footer {
        margin-bottom: 1.5rem;
        color: var(--color-text-footnote);
        font-family: var(--font-sans-serif);
        font-size: 1rem;
        font-style: normal;

        @if setup.$font-stack-serif-vf {
            font-variation-settings: "wght" 400; // older browsers will just ignore this
        }

        font-weight: 400; // to prevent faux bolding of variable font

        &::before {
            content: "";
            display: block;
            width: 1px;
            height: 2rem;
            margin: 0.75rem auto;
            background-color: var(--color-border);
        }
    }
}

@if setup.$font-stack-serif-vf {
    @supports (font-variation-settings: normal) {
        blockquote {
            font-family: var(--font-serif-vf);
        }
    }
}

@if setup.$font-stack-sans-serif-vf {
    @supports (font-variation-settings: normal) {
        blockquote footer {
            font-family: var(--font-sans-serif-vf);
        }
    }
}

/**
 * 1. Remove the bottom border in Chrome 57+.
 * 2. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
 */

abbr[title] {
    border-bottom: 0; /* 1 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Consistent styling for `mark` and `var` tags.
 */

mark,
var {
    padding: 0 0.25em; // 0 4px
    border-radius: 0.25rem; // 4px / 16px
    background-color: var(--color-selected);
    color: var(--color-text);
}

/**
 * Harmonize size and style of computer text.
 *
 * 1. Don't use ligatures on monospace font.
 */

pre,
code,
kbd,
samp {
    border: 1px solid var(--color-border-extra-light);
    border-radius: 0.25rem; // 4px / 16px
    background-color: var(--color-background-box);
    color: var(--color-text);
    direction: ltr;
    font-family: var(--font-code);
    font-feature-settings: normal; /* 1 */
    font-size: setup.$code-font-size;
    text-align: left;
    unicode-bidi: isolate;
}

code,
kbd,
samp {
    display: inline-block;
    padding: 1px 0.1875rem; // 3px / 16px
}

/**
 * Additional styling for pre-formatted text/code.
 *
 * 1. Contain overflow in all browsers.
 * 2. Don't wrap long words.
 * 3. Set tab size to 4 spaces.
 */

pre {
    box-sizing: border-box;
    margin: 1.125rem 0;
    padding: 0.5rem 1rem;
    overflow-x: auto; /* 1 */
    word-wrap: normal; /* 2 */
    tab-size: 4; /* 3 */

    code {
        display: initial;
        padding: 0;
        border: 0;
        background-color: transparent;
        font-size: 1em; // 14px
        hyphens: none;
        word-wrap: normal;
        word-break: normal;
        word-spacing: normal;
        white-space: pre;
    }
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in all browsers.
 */

sub,
// override Textile class
sup.footnote,
sup {
    position: relative;
    font-size: 0.75em; // 12px / 16px
    line-height: 0;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/**
 * Harmonize size and style of small text.
 */

small,
figcaption,
tfoot,
.footnote,
.footnotes,
.card-footer {
    font-size: setup.$small-font-size;
}

figcaption,
tfoot,
.footnote,
.footnotes {
    color: var(--color-text-footnote);
}

figcaption {
    margin: 0.5rem 0;
}
