// import global variables
@import "core/settings";

// import Compass, Compass Plugins and any additional mixins
@import "core/helpers";

// import colourscheme
@import "core/colours";



/* ==========================================================================
   Desktop version layout for IE 8 due to lack of media queries support
   ========================================================================== */

.layout--span-1-6,
.nested-list-2-column .nested:nth-child(odd) {
    @include grid-span(6, 1);

    clear: both;
}

.layout--span-7-12,
.nested-list-2-column .nested:nth-child(even) {
    @include grid-span(6, 7);
}

.layout--span-1-4,
.nested-list-3-column .nested:nth-child(3n+1) {
    @include grid-span(4, 1);

    clear: both;
}

.layout--span-5-8,
.nested-list-3-column .nested:nth-child(3n+2) {
    @include grid-span(4, 5);
}

.layout--span-9-12,
.nested-list-3-column .nested:nth-child(3n) {
    @include grid-span(4, 9);
}

.layout--span-1-8 {
    @include grid-span(8, 1);

    clear: both;
}

.layout--span-5-12 {
    @include grid-span(8, 5);
}

.layout--span-1-3,
.nested-list-4-column .nested:nth-child(4n+1) {
    @include grid-span(3, 1);

    clear: both;
}

.layout--span-4-6,
.nested-list-4-column .nested:nth-child(4n+2) {
    @include grid-span(3, 4);
}

.layout--span-7-9,
.nested-list-4-column .nested:nth-child(4n+3) {
    @include grid-span(3, 7);
}

.layout--span-10-12,
.nested-list-4-column .nested:nth-child(4n) {
    @include grid-span(3, 10);
}

.layout--span-4-9 {
    @include grid-span(6, 4);
}

.layout--span-1-9 {
    @include grid-span(9, 1);

    clear: both;
}

.layout--span-4-12 {
    @include grid-span(9, 4);
}

/**
 * Don't allow site to collapse smaller than large breakpoint.
 */

.container,
.site-header,
.site-footer,
.site-navigation ul {
    min-width: $breakpoint-3;
}

/**
 * Desktop version of navigation menu.
 */

.site-navigation {
    .js & {
        max-height: none;
    }

    ul {
        width: 88%;
    }

    li {
        float: left;
        border-top: 0;
        border-right: solid 1px $color-gradient-border;

        &:first-child {
            border-left: solid 1px $color-gradient-border;
        }
    }

    a {
        padding: 0.5em 1em;
    }
}

.nav-toggle {
    display: none;
}



/* ==========================================================================
   Fallbacks for unsupported browser features
   ========================================================================== */

/**
 * Fallback for lack of `box-shadow` support.
 */

.a--img:focus {
    outline: thin dotted $color-link-focus;
}

/**
 * PNG fallback for lack of SVG support.
 */

hr {
    background-image: url("../img/hr.png");
}

.social-channels .facebook {
    background-image: url("../img/facebook.png");
}

.social-channels .flickr {
    background-image: url("../img/flickr.png");
}

.social-channels .googleplus {
    background-image: url("../img/googleplus.png");
}

.social-channels .linkedin {
    background-image: url("../img/linkedin.png");
}

.social-channels .pinterest {
    background-image: url("../img/pinterest.png");
}

.social-channels .twitter {
    background-image: url("../img/twitter.png");
}

.social-channels .youtube {
    background-image: url("../img/youtube.png");
}



/* ==========================================================================
   jQuery UI support
   ========================================================================== */

.ui-helper-zfix {
    filter: alpha(opacity=0);
}

.ui-priority-secondary {
    filter: alpha(opacity=66);
}

.ui-state-disabled {
    filter: alpha(opacity=33);

    .ui-icon {
        filter: alpha(opacity=33); // fix inheritance bug
    }
}

.ui-widget-overlay,
.ui-widget-shadow {
    background: url("../img/overlay-no-rgba.png");
}

.ui-slider.ui-state-disabled {
    .ui-slider-handle,
    .ui-slider-range {
        filter: inherit;
    }
}

.ui-icon,
.ui-widget-content .ui-icon,
.ui-widget-header .ui-icon,
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-state-active .ui-icon {
    background-image: url("../img/ui-icon-sprite-333333.png");
}

.ui-state-default .ui-icon {
    background-image: url("../img/ui-icon-sprite-555555.png");
}

.success .ui-icon {
    background-image: url("../img/ui-icon-sprite-success.png");
}

.ui-state-highlight .ui-icon,
.warning .ui-icon {
    background-image: url("../img/ui-icon-sprite-warning.png");
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon,
.error .ui-icon {
    background-image: url("../img/ui-icon-sprite-error.png");
}

.information .ui-icon {
    background-image: url("../img/ui-icon-sprite-info.png");
}



/* ==========================================================================
   Fix for reponsive embedded content in IE 8
   ========================================================================== */

img,
video {
    width: auto;
}
