@use "sass:map";
@use "sass:meta";
@use "setup";
@use "color-schemes" as *;
@forward "modules";
@forward "modules/icons";
@forward "modules/jquery-ui";

$colors-fixed-light: map.merge($colors-fixed-light, setup.$colors-fixed-light-custom);
$colors-fixed-dark: map.merge($colors-fixed-dark, setup.$colors-fixed-dark-custom);
$colors-themable-light: map.merge($colors-themable-light, setup.$colors-themable-light-custom);
$colors-themable-dark: map.merge($colors-themable-dark, setup.$colors-themable-dark-custom);

/* CSS custom variables
   ========================================================================== */

/* stylelint-disable declaration-colon-space-after */

:root {
    // font families
    --font-serif:         #{meta.inspect(setup.$font-stack-serif)};
    --font-serif-vf:      #{meta.inspect(setup.$font-stack-serif-vf)};
    --font-sans-serif:    #{meta.inspect(setup.$font-stack-sans-serif)};
    --font-sans-serif-vf: #{meta.inspect(setup.$font-stack-sans-serif-vf)};
    --font-form:          #{meta.inspect(setup.$font-stack-form)};
    --font-form-vf:       #{meta.inspect(setup.$font-stack-form-vf)};
    --font-monospaced:    #{meta.inspect(setup.$font-stack-monospaced)};
    // shadows
    --standard-shadow: 0 0 0.5em hsl(0 0% 0% / 0.2);
    // text colours
    --clr-text-white-enforced: hsl(0 0% 100%);

    @each $name, $value in $colors-themable-light {
        --clr-#{$name}: #{$value};
    }

    @each $name, $value in $colors-fixed-light {
        --clr-#{$name}: #{$value};
    }
}

@include setup.dark-mode {
    // shadows
    --standard-shadow: 0 0 0.5em hsl(0 0% 0% / 0.8);
    // text colours
    @each $name, $value in $colors-themable-dark {
        --clr-#{$name}: #{$value};
    }

    @each $name, $value in $colors-fixed-dark {
        --clr-#{$name}: #{$value};
    }
}
