@use "sass:meta";
@use "setup";

/* CSS custom variables
   ========================================================================== */

/* stylelint-disable declaration-colon-space-after */

:root {
    // font families
    --font-serif:         #{meta.inspect(setup.$font-serif)};
    --font-serif-vf:      #{meta.inspect(setup.$font-serif-vf)};
    --font-sans-serif:    #{meta.inspect(setup.$font-sans-serif)};
    --font-sans-serif-vf: #{meta.inspect(setup.$font-sans-serif-vf)};
    --font-form:          #{meta.inspect(setup.$font-form)};
    --font-form-vf:       #{meta.inspect(setup.$font-form-vf)};
    --font-code:          #{meta.inspect(setup.$font-code)};
    --font-print:         #{meta.inspect(setup.$font-print)};
    // text colours
    --color-text:                      #{setup.$color-text};
    --color-text-heading:              #{setup.$color-text-heading};
    --color-text-heading-a50:          #{setup.$color-text-heading-a50};
    --color-text-button:               #{setup.$color-text-button};
    --color-text-form:                 #{setup.$color-text-form};
    --color-text-form-placeholder:     #{setup.$color-text-form-placeholder};
    --color-text-footnote:             #{setup.$color-text-footnote};
    --color-text-white-out:            #{setup.$color-text-white-out};
    // interaction colours
    --color-link:                      #{setup.$color-link};
    --color-link-hover:                #{setup.$color-link-hover};
    --color-link-focus:                #{setup.$color-link-focus};
    --color-selecting:                 #{setup.$color-selecting};
    --color-selected:                  #{setup.$color-selected};
    // neutral colours
    --color-background:                #{setup.$color-background};
    --color-background-box:            #{setup.$color-background-box};
    --color-background-form:           #{setup.$color-background-form};
    --color-background-form-disabled:  #{setup.$color-background-form-disabled};
    --color-grad-from:                 #{setup.$color-grad-from};
    --color-grad-to:                   #{setup.$color-grad-to};
    // accent colours
    --color-highlight:                 #{setup.$color-highlight};
    --color-strong-highlight-box:      #{setup.$color-strong-highlight-box};
    --color-highlight-box:             #{setup.$color-highlight-box};
    // border colours
    --color-border:                    #{setup.$color-border};
    --color-border-light:              #{setup.$color-border-light};
    --color-border-extra-light:        #{setup.$color-border-extra-light};
    --color-border-dark:               #{setup.$color-border-dark};
    --color-border-extra-dark:         #{setup.$color-border-extra-dark};
    // button colours
    --color-button-grad-from:          #{setup.$color-button-grad-from};
    --color-button-grad-to:            #{setup.$color-button-grad-to};
    --color-button-border:             #{setup.$color-button-border};
    --color-button-shadow:             #{setup.$color-button-shadow};
    --color-button-selected-grad-from: #{setup.$color-button-selected-grad-from};
    --color-button-selected-grad-to:   #{setup.$color-button-selected-grad-to};
    --color-button-selected-border:    #{setup.$color-button-selected-border};
    // alert colours
    --color-success-text:              #{setup.$color-success-text};
    --color-success-background:        #{setup.$color-success-background};
    --color-success-border:            #{setup.$color-success-border};
    --color-warning-text:              #{setup.$color-warning-text};
    --color-warning-background:        #{setup.$color-warning-background};
    --color-warning-border:            #{setup.$color-warning-border};
    --color-error-text:                #{setup.$color-error-text};
    --color-error-background:          #{setup.$color-error-background};
    --color-error-border:              #{setup.$color-error-border};
    --color-info-text:                 #{setup.$color-info-text};
    --color-info-background:           #{setup.$color-info-background};
    --color-info-border:               #{setup.$color-info-border};
    // shadows
    --standard-shadow:                 #{setup.$standard-shadow};
}

@include setup.dark-mode {
    // text colours
    --color-text:                      #{setup.$dark-color-text};
    --color-text-heading:              #{setup.$dark-color-text-heading};
    --color-text-heading-a50:          #{setup.$dark-color-text-heading-a50};
    --color-text-form:                 #{setup.$dark-color-text-form};
    --color-text-form-placeholder:     #{setup.$dark-color-text-form-placeholder};
    --color-text-footnote:             #{setup.$dark-color-text-footnote};
    // interaction colours
    --color-link:                      #{setup.$dark-color-link};
    --color-link-hover:                #{setup.$dark-color-link-hover};
    --color-link-focus:                #{setup.$dark-color-link-focus};
    --color-selecting:                 #{setup.$dark-color-selecting};
    --color-selected:                  #{setup.$dark-color-selected};
    // neutral colours
    --color-background:                #{setup.$dark-color-background};
    --color-background-box:            #{setup.$dark-color-background-box};
    --color-background-form:           #{setup.$dark-color-background-form};
    --color-background-form-disabled:  #{setup.$dark-color-background-form-disabled};
    --color-grad-from:                 #{setup.$dark-color-grad-from};
    --color-grad-to:                   #{setup.$dark-color-grad-to};
    // accent colours
    --color-highlight:                 #{setup.$dark-color-highlight};
    --color-strong-highlight-box:      #{setup.$dark-color-strong-highlight-box};
    --color-highlight-box:             #{setup.$dark-color-highlight-box};
    // border colours
    --color-border:                    #{setup.$dark-color-border};
    --color-border-light:              #{setup.$dark-color-border-light};
    --color-border-extra-light:        #{setup.$dark-color-border-extra-light};
    --color-border-dark:               #{setup.$dark-color-border-dark};
    --color-border-extra-dark:         #{setup.$dark-color-border-extra-dark};
    // alert colours
    --color-success-text:              #{setup.$dark-color-success-text};
    --color-success-background:        #{setup.$dark-color-success-background};
    --color-success-border:            #{setup.$dark-color-success-border};
    --color-warning-text:              #{setup.$dark-color-warning-text};
    --color-warning-background:        #{setup.$dark-color-warning-background};
    --color-warning-border:            #{setup.$dark-color-warning-border};
    --color-error-text:                #{setup.$dark-color-error-text};
    --color-error-background:          #{setup.$dark-color-error-background};
    --color-error-border:              #{setup.$dark-color-error-border};
    --color-info-text:                 #{setup.$dark-color-info-text};
    --color-info-background:           #{setup.$dark-color-info-background};
    --color-info-border:               #{setup.$dark-color-info-border};
    // shadows
}


/* ==========================================================================
   Styling and layout for screen media (mobile first)
   ========================================================================== */

@media screen {
    @include meta.load-css("modules/fonts");
    @include meta.load-css("modules/layout");
    @include meta.load-css("modules/navigation");
    @include meta.load-css("modules/links");
    @include meta.load-css("modules/typography");
    @include meta.load-css("modules/alerts");
    @include meta.load-css("modules/embedded-content");
    @include meta.load-css("modules/tables");
    @include meta.load-css("modules/lists");
    @include meta.load-css("modules/forms-base");
    @include meta.load-css("modules/forms-input-checkboxradio");
    @include meta.load-css("modules/forms-input-file");
    @include meta.load-css("modules/forms-input-range");
    @include meta.load-css("modules/forms-disabled");
    @include meta.load-css("modules/buttons");
    @include meta.load-css("modules/progress");
    @include meta.load-css("modules/meter");
    @include meta.load-css("modules/disclosure");
    @include meta.load-css("modules/code-highlighting");
    @include meta.load-css("modules/pagination");
    @include meta.load-css("modules/breadcrumbs");
    @include meta.load-css("modules/slider");
    @include meta.load-css("modules/social");
    @include meta.load-css("modules/misc");
    @include meta.load-css("modules/comments");
    @include meta.load-css("modules/cards");

    @if setup.$use-jquery-ui {
        // jQuery UI core

        @include meta.load-css("modules/jquery-ui/core");

        // jQuery UI icons

        @include meta.load-css("modules/jquery-ui/icons");

        // jQuery UI interactions

        @include meta.load-css("modules/jquery-ui/draggable");
        @include meta.load-css("modules/jquery-ui/resizable");
        @include meta.load-css("modules/jquery-ui/selectable");
        @include meta.load-css("modules/jquery-ui/sortable");

        // jQuery UI widgets

        @include meta.load-css("modules/jquery-ui/accordion");
        @include meta.load-css("modules/jquery-ui/autocomplete");
        @include meta.load-css("modules/jquery-ui/button");
        @include meta.load-css("modules/jquery-ui/checkboxradio");
        @include meta.load-css("modules/jquery-ui/controlgroup");
        @include meta.load-css("modules/jquery-ui/datepicker");
        @include meta.load-css("modules/jquery-ui/dialog");
        @include meta.load-css("modules/jquery-ui/menu");
        @include meta.load-css("modules/jquery-ui/progressbar");
        @include meta.load-css("modules/jquery-ui/selectmenu");
        @include meta.load-css("modules/jquery-ui/slider");
        @include meta.load-css("modules/jquery-ui/spinner");
        @include meta.load-css("modules/jquery-ui/tabs");
        @include meta.load-css("modules/jquery-ui/tooltip");
    } @else if setup.$use-icons {
        @include meta.load-css("modules/jquery-ui/icons");
    }
}


/* ==========================================================================
   Responsive layout for screen media
   ========================================================================== */

@include meta.load-css("modules/responsive");


/* ==========================================================================
   Additional accessibility for screen media
   ========================================================================== */

@include meta.load-css("modules/accessibility");


/* ==========================================================================
   Animation `keyframes` need to appear outside of `screen` rules
   ========================================================================== */

@include meta.load-css("modules/animation-keyframes");


/* ==========================================================================
   Styling and layout for print media
   ========================================================================== */

@media print {
    @include meta.load-css("modules/print");
}
