@use "sass:meta";
@use "setup";

/* CSS custom variables
   ========================================================================== */

/* stylelint-disable declaration-colon-space-after */

:root {
    // font families
    --font-serif:         #{meta.inspect(setup.$font-stack-serif)};
    --font-serif-vf:      #{meta.inspect(setup.$font-stack-serif-vf)};
    --font-sans-serif:    #{meta.inspect(setup.$font-stack-sans-serif)};
    --font-sans-serif-vf: #{meta.inspect(setup.$font-stack-sans-serif-vf)};
    --font-form:          #{meta.inspect(setup.$font-stack-form)};
    --font-form-vf:       #{meta.inspect(setup.$font-stack-form-vf)};
    --font-monospaced:    #{meta.inspect(setup.$font-stack-monospaced)};
    // text colours
    --clr-text:                   #{setup.$color-text};
    --clr-text-promoted:          #{setup.$color-text-promoted};
    --clr-text-promoted-a50:      #{setup.$color-text-promoted-a50};
    --clr-text-demoted:           #{setup.$color-text-demoted};
    --clr-text-btn:               #{setup.$color-button-text};
    --clr-text-form:              #{setup.$color-text-form};
    --clr-text-placeholder:       #{setup.$color-text-form-placeholder};
    --clr-text-white-enforced:    #{setup.$color-text-white-out};
    // interaction colours
    --clr-a:                      #{setup.$color-link};
    --clr-a-interact:             #{setup.$color-link-interact};
    --clr-a-interact-a50:         #{setup.$color-link-interact-a50};
    --clr-focus:                  #{setup.$color-focus};
    --clr-selecting:              #{setup.$color-selecting};
    --clr-selected:               #{setup.$color-selected};
    // neutral colours
    --clr-bkgd:                   #{setup.$color-background};
    --clr-bkgd-box-subtle:        #{setup.$color-background-box-subtle};
    --clr-bkgd-box-strong:        #{setup.$color-background-box-strong};
    --clr-bkgd-form:              #{setup.$color-background-form};
    --clr-bkgd-form-disabled:     #{setup.$color-background-form-disabled};
    --clr-grad-from:              #{setup.$color-gradient-from};
    --clr-grad-to:                #{setup.$color-gradient-to};
    // accent colours
    --clr-hilite:                 #{setup.$color-highlight};
    --clr-strong-hilite-box:      #{setup.$color-strong-highlight-box};
    --clr-hilite-box:             #{setup.$color-highlight-box};
    // border colours
    --clr-brdr:                   #{setup.$color-border};
    --clr-brdr-lite:              #{setup.$color-border-light};
    --clr-brdr-x-lite:            #{setup.$color-border-extra-light};
    --clr-brdr-dark:              #{setup.$color-border-dark};
    --clr-brdr-x-dark:            #{setup.$color-border-extra-dark};
    // button colours
    --clr-btn-grad-from:          #{setup.$color-button-gradient-from};
    --clr-btn-grad-to:            #{setup.$color-button-gradient-to};
    --clr-btn-brdr:               #{setup.$color-button-border};
    --clr-btn-shadow:             #{setup.$color-button-shadow};
    --clr-btn-primary-grad-from:  #{setup.$color-button-primary-gradient-from};
    --clr-btn-primary-grad-to:    #{setup.$color-button-primary-gradient-to};
    --clr-btn-primary-brdr:       #{setup.$color-button-primary-border};
    --clr-btn-primary-shadow:     #{setup.$color-button-primary-shadow};
    --clr-btn-selected-grad-from: #{setup.$color-button-selected-gradient-from};
    --clr-btn-selected-grad-to:   #{setup.$color-button-selected-gradient-to};
    --clr-btn-selected-brdr:      #{setup.$color-button-selected-border};
    // alert colours
    --clr-success-text:           #{setup.$color-success-text};
    --clr-success-bkgd:           #{setup.$color-success-background};
    --clr-success-brdr:           #{setup.$color-success-border};
    --clr-warning-text:           #{setup.$color-warning-text};
    --clr-warning-bkgd:           #{setup.$color-warning-background};
    --clr-warning-brdr:           #{setup.$color-warning-border};
    --clr-error-text:             #{setup.$color-error-text};
    --clr-error-bkgd:             #{setup.$color-error-background};
    --clr-error-brdr:             #{setup.$color-error-border};
    --clr-info-text:              #{setup.$color-info-text};
    --clr-info-bkgd:              #{setup.$color-info-background};
    --clr-info-brdr:              #{setup.$color-info-border};
    // shadows
    --standard-shadow:            #{setup.$standard-shadow};
}

@include setup.dark-mode {
    // text colours
    --clr-text:               #{setup.$dark-color-text};
    --clr-text-promoted:      #{setup.$dark-color-text-promoted};
    --clr-text-promoted-a50:  #{setup.$dark-color-text-promoted-a50};
    --clr-text-demoted:       #{setup.$dark-color-text-demoted};
    --clr-text-form:          #{setup.$dark-color-text-form};
    --clr-text-placeholder:   #{setup.$dark-color-text-form-placeholder};

    // interaction colours
    --clr-a:                  #{setup.$dark-color-link};
    --clr-a-interact:         #{setup.$dark-color-link-interact};
    --clr-a-interact-a50:     #{setup.$dark-color-link-interact-a50};
    --clr-focus:              #{setup.$dark-color-focus};
    --clr-selecting:          #{setup.$dark-color-selecting};
    --clr-selected:           #{setup.$dark-color-selected};
    // neutral colours
    --clr-bkgd:               #{setup.$dark-color-background};
    --clr-bkgd-box-subtle:    #{setup.$dark-color-background-box-subtle};
    --clr-bkgd-box-strong:    #{setup.$dark-color-background-box-strong};
    --clr-bkgd-form:          #{setup.$dark-color-background-form};
    --clr-bkgd-form-disabled: #{setup.$dark-color-background-form-disabled};
    --clr-grad-from:          #{setup.$dark-color-gradient-from};
    --clr-grad-to:            #{setup.$dark-color-gradient-to};
    // accent colours
    --clr-hilite:             #{setup.$dark-color-highlight};
    --clr-strong-hilite-box:  #{setup.$dark-color-strong-highlight-box};
    --clr-hilite-box:         #{setup.$dark-color-highlight-box};
    // border colours
    --clr-brdr:               #{setup.$dark-color-border};
    --clr-brdr-lite:          #{setup.$dark-color-border-light};
    --clr-brdr-x-lite:        #{setup.$dark-color-border-extra-light};
    --clr-brdr-dark:          #{setup.$dark-color-border-dark};
    --clr-brdr-x-dark:        #{setup.$dark-color-border-extra-dark};
    // alert colours
    --clr-success-text:       #{setup.$dark-color-success-text};
    --clr-success-bkgd:       #{setup.$dark-color-success-background};
    --clr-success-brdr:       #{setup.$dark-color-success-border};
    --clr-warning-text:       #{setup.$dark-color-warning-text};
    --clr-warning-bkgd:       #{setup.$dark-color-warning-background};
    --clr-warning-brdr:       #{setup.$dark-color-warning-border};
    --clr-error-text:         #{setup.$dark-color-error-text};
    --clr-error-bkgd:         #{setup.$dark-color-error-background};
    --clr-error-brdr:         #{setup.$dark-color-error-border};
    --clr-info-text:          #{setup.$dark-color-info-text};
    --clr-info-bkgd:          #{setup.$dark-color-info-background};
    --clr-info-brdr:          #{setup.$dark-color-info-border};
    // shadows
    --standard-shadow:        #{setup.$dark-standard-shadow};
}


@if not setup.$modules-user-defined {
    /* ==========================================================================
       Styling and layout for screen media (mobile first)
       ========================================================================== */

    @media screen {
        @include meta.load-css("modules/fonts");
        @include meta.load-css("modules/layout");
        @include meta.load-css("modules/layout-helpers");
        @include meta.load-css("modules/navigation");
        @include meta.load-css("modules/links");
        @include meta.load-css("modules/typography");
        @include meta.load-css("modules/typography-helpers");
        @include meta.load-css("modules/embedded-content");
        @include meta.load-css("modules/tables");
        @include meta.load-css("modules/lists");
        @include meta.load-css("modules/forms-base");
        @include meta.load-css("modules/forms-input-checkboxradio");
        @include meta.load-css("modules/forms-input-file");
        @include meta.load-css("modules/forms-input-range");
        @include meta.load-css("modules/forms-disabled");
        @include meta.load-css("modules/buttons");
        @include meta.load-css("modules/progress");
        @include meta.load-css("modules/meter");
        @include meta.load-css("modules/disclosure");
        @include meta.load-css("modules/code-highlighting");
        @include meta.load-css("modules/pagination");
        @include meta.load-css("modules/breadcrumbs");
        @include meta.load-css("modules/carousel");
        @include meta.load-css("modules/social-base");
        @include meta.load-css("modules/social-color");
        @include meta.load-css("modules/social-mono");
        @include meta.load-css("modules/social-mono-inverse");
        @include meta.load-css("modules/misc");
        @include meta.load-css("modules/cards");
        @include meta.load-css("modules/alerts");
        @include meta.load-css("modules/article");
        @include meta.load-css("modules/article-comments");

        @if setup.$use-jquery-ui {
            // jQuery UI core

            @include meta.load-css("modules/jquery-ui/core");

            // jQuery UI icons

            @include meta.load-css("modules/jquery-ui/icons");

            // jQuery UI interactions

            @include meta.load-css("modules/jquery-ui/draggable");
            @include meta.load-css("modules/jquery-ui/resizable");
            @include meta.load-css("modules/jquery-ui/selectable");
            @include meta.load-css("modules/jquery-ui/sortable");

            // jQuery UI widgets

            @include meta.load-css("modules/jquery-ui/accordion");
            @include meta.load-css("modules/jquery-ui/autocomplete");
            @include meta.load-css("modules/jquery-ui/button");
            @include meta.load-css("modules/jquery-ui/checkboxradio");
            @include meta.load-css("modules/jquery-ui/controlgroup");
            @include meta.load-css("modules/jquery-ui/datepicker");
            @include meta.load-css("modules/jquery-ui/dialog");
            @include meta.load-css("modules/jquery-ui/menu");
            @include meta.load-css("modules/jquery-ui/progressbar");
            @include meta.load-css("modules/jquery-ui/selectmenu");
            @include meta.load-css("modules/jquery-ui/slider");
            @include meta.load-css("modules/jquery-ui/spinner");
            @include meta.load-css("modules/jquery-ui/tabs");
            @include meta.load-css("modules/jquery-ui/tooltip");
        } @else if setup.$use-icons {
            @include meta.load-css("modules/jquery-ui/icons");
        }
    }


    /* ==========================================================================
       Responsive layout for screen media
       ========================================================================== */

    @include meta.load-css("modules/responsive");


    /* ==========================================================================
       Additional accessibility for screen media
       ========================================================================== */

    @include meta.load-css("modules/accessibility");


    /* ==========================================================================
       Animation `keyframes` need to appear outside of `screen` rules
       ========================================================================== */

    @include meta.load-css("modules/animation-keyframes");


    /* ==========================================================================
       Styling and layout for print media
       ========================================================================== */

    @media print {
        @include meta.load-css("modules/print");
    }
}
